res/psp/xsd/NodoPerPsp.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.agid.gov.it/schemas/pagoPa/nodo" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="6.2.0"
    xmlns:pay="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/"
    xmlns:tns="http://www.agid.gov.it/schemas/pagoPa/nodo"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.0">


    <xsd:import namespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/"
        schemaLocation="../../common/pagoPa_complexTypes.xsd"/>



    <xsd:complexType name="ctSpezzoniCausaleVersamento">
        <xsd:sequence minOccurs="1" maxOccurs="6">
            <xsd:choice>
                <xsd:element type="pay:stText35" name="spezzoneCausaleVersamento" minOccurs="1"/>
                <xsd:element type="tns:ctSpezzoneStrutturatoCausaleVersamento"
                    name="spezzoneStrutturatoCausaleVersamento" minOccurs="1"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctSpezzoneStrutturatoCausaleVersamento">
        <xsd:sequence>
            <xsd:element type="pay:stText25" name="causaleSpezzone" minOccurs="1"/>
            <xsd:element type="pay:stImporto" name="importoSpezzone" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>



    <xsd:simpleType name="stForzaControlloSegno">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
        </xsd:restriction>
    </xsd:simpleType>


    <!-- Element Definition -->

    <xsd:complexType name="richiestaPsp">
        <xsd:sequence>
            <xsd:element name="identificativoPSP" type="pay:stText35">
                <xsd:annotation>
                    <xsd:documentation>identifica il mittente ( PSP ) della chiamata attraverso il suo codice identificativo</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoIntermediarioPSP" type="pay:stText35">
                <xsd:annotation>
                    <xsd:documentation>identifica l'intermediario PSP utilizzato per inoltrare il messaggio al nodo dei pagamenti. Nel caso di connessione diretta coincide con l'identificativoPSP</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoCanale" type="pay:stText35">
                <xsd:annotation>
                    <xsd:documentation>identifica il canale del PSP utilizzato attraverso il quale giunge la chiamata</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="password" type="pay:stPassword">
                <xsd:annotation>
                    <xsd:documentation>contiene la password scambiata tra NodoSPC e PSP alfine di autorizzare le chiamate attraverso il canale.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="risposta">
        <xsd:sequence>
            <xsd:element name="fault" type="pay:ctFaultBean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>



    <xsd:complexType name="ctNodoTipoCodiceIdRPT">
        <xsd:sequence>
            <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##any"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctNodoTipoDatiPagamentoPA">
        <xsd:sequence>
            <xsd:element name="importoSingoloVersamento" type="pay:stImporto" minOccurs="1"> </xsd:element>
            <xsd:element name="ibanAccredito" type="pay:stIBANIdentifier" minOccurs="0"> </xsd:element>
            <xsd:element name="bicAccredito" type="pay:stBICIdentifier" minOccurs="0"> </xsd:element>
            <xsd:element name="enteBeneficiario" type="pay:ctEnteBeneficiario" minOccurs="0"/>
            <xsd:element name="credenzialiPagatore" type="pay:stText35" minOccurs="0"> </xsd:element>
            <xsd:choice minOccurs="1">
                <xsd:element name="causaleVersamento" type="pay:stText140"/>
                <xsd:element name="spezzoniCausaleVersamento" type="tns:ctSpezzoniCausaleVersamento"
                />
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctNodoTipoDatiPagamentoPSP">
        <xsd:sequence>
            <xsd:element name="importoSingoloVersamento" type="pay:stImporto" minOccurs="1"> </xsd:element>
            <xsd:element name="ibanAppoggio" type="pay:stIBANIdentifier" minOccurs="0"> </xsd:element>
            <xsd:element name="bicAppoggio" type="pay:stBICIdentifier" minOccurs="0"> </xsd:element>
            <xsd:element name="soggettoVersante" type="pay:ctSoggettoVersante" minOccurs="0"/>
            <xsd:element name="ibanAddebito" type="pay:stIBANIdentifier" minOccurs="0"> </xsd:element>
            <xsd:element name="bicAddebito" type="pay:stBICIdentifier" minOccurs="0"> </xsd:element>
            <xsd:element name="soggettoPagatore" type="pay:ctSoggettoPagatore" minOccurs="0"/>
        </xsd:sequence>

    </xsd:complexType>


    <xsd:simpleType name="stAuxDigit">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCodStazPA">
        <xsd:restriction base="xsd:string">
            <xsd:length value="2"/>
            <xsd:pattern value="[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="QrCode">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element type="pay:stPIVA" name="CF" minOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                            Paritita Iva ( idDominio ) dell'Ente Creditore che ha generato l'avviso di pagamento
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CodStazPA" type="tns:stCodStazPA" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>
                           Codice della stazione utilizzata dall'EC per la generazione dell'avviso di pagamento
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="AuxDigit" type="tns:stAuxDigit" minOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                      Aux Digit associato all'avviso ( dal 01/11/2018 tutti gli avvisi devono essere generati con AuxDigit 3)
                    </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element type="pay:stText35" name="CodIUV" minOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                       Codice IUV riportato all'interno dell'Avviso di pagamento
                    </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="aim128">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CCPost" minOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                       Conto corrente postale riportato all'interno del bollettino
                    </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:length value="12"/>
                            <xsd:pattern value="[0-9]{12}"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element type="tns:stCodStazPA" name="CodStazPA" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>
                            Codice della stazione utilizzata dall'EC per la generazione dell'avviso di pagamento
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element type="tns:stAuxDigit" name="AuxDigit" minOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                            Aux Digit associato all'avviso ( dal 01/11/2018 tutti gli avvisi devono essere generati con AuxDigit 3)
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element type="pay:stText35" name="CodIUV" minOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                            Codice IUV riportato all'interno dell'Avviso di pagamento
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:complexType name="ctNodoVerificaRPT">
        <xsd:complexContent>
            <xsd:extension base="tns:richiestaPsp">
                <xsd:sequence>
                    <xsd:element name="codiceContestoPagamento" type="pay:stText35">
                        <xsd:annotation>
                            <xsd:documentation>definisce il contesto di un pagamento.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codificaInfrastrutturaPSP">
                        <xsd:annotation>
                            <xsd:documentation>identifica il metodo di acquisizione dei dati relativi al pagamento da effettuare</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="QR-CODE">
                                    <xsd:annotation>
                                        <xsd:documentation>Lettura tramite QR-CODE disponibile all'interno dell'avviso di pagamento </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:enumeration>
                                <xsd:enumeration value="aim-128">
                                    <xsd:annotation>
                                        <xsd:documentation>Lettura tramite data-matrix del bollettino postale PA </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:enumeration>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="codiceIdRPT">
                        <xsd:annotation>
                            <xsd:documentation>struttura che contiene i dati raccolti per identificare la RPT.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:choice>
                                <xsd:element minOccurs="0" maxOccurs="1" ref="tns:QrCode">
                                    <xsd:annotation>
                                        <xsd:documentation>struttura che contiene i dati raccolti tramite QR-CODE</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element minOccurs="0" maxOccurs="1" ref="tns:aim128">
                                    <xsd:annotation>
                                        <xsd:documentation>struttura che contiene i dati raccolti tramite bollettino postale </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>

                            </xsd:choice>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ctNodoVerificaRPTRisposta">
        <xsd:sequence>
            <xsd:element name="nodoVerificaRPTRisposta" type="tns:ctEsitoNodoVerificaRPTRisposta"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctEsitoNodoVerificaRPTRisposta">
        <xsd:complexContent>
            <xsd:extension base="tns:risposta">
                <xsd:sequence>
                    <xsd:element name="esito" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="datiPagamentoPA" type="tns:ctNodoTipoDatiPagamentoPA"
                        minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ctNodoInviaRT">
        <xsd:sequence>
            <xsd:element name="identificativoIntermediarioPSP" type="pay:stText35"/>
            <xsd:element name="identificativoCanale" type="pay:stText35"/>
            <xsd:element name="password" type="pay:stPassword"/>
            <xsd:element name="identificativoPSP" type="pay:stText35"/>
            <xsd:element name="identificativoDominio" type="pay:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="pay:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="pay:stText35"/>
            <xsd:element name="tipoFirma" type="xsd:string" minOccurs="0"/>
            <xsd:element name="forzaControlloSegno" type="tns:stForzaControlloSegno" minOccurs="0"/>
            <xsd:element name="rt" type="xsd:base64Binary"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctNodoInviaRTRisposta">
        <xsd:sequence>
            <xsd:element name="ctNodoInviaRTRisposta" type="tns:ctEsitoNodoInviaRTRisposta"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ctEsitoNodoInviaRTRisposta">
        <xsd:complexContent>
            <xsd:extension base="tns:risposta">
                <xsd:sequence>
                    <xsd:element name="esito" type="xsd:string"/>
                    <!-- <xsd:element name="ackRT" type="pay_j:ctMessaggioDiAcknowledgement" /> -->
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ctNodoAttivaRPT">
        <xsd:sequence>
            <xsd:element name="identificativoPSP" type="pay:stText35"/>
            <xsd:element name="identificativoIntermediarioPSP" type="pay:stText35"/>
            <xsd:element name="identificativoCanale" type="pay:stText35"/>
            <xsd:element name="password" type="pay:stPassword"/>
            <xsd:element name="codiceContestoPagamento" type="pay:stText35"/>
            <xsd:element name="identificativoIntermediarioPSPPagamento" type="pay:stText35"/>
            <xsd:element name="identificativoCanalePagamento" type="pay:stText35"/>
            <xsd:element name="codificaInfrastrutturaPSP" type="xsd:string"/>
            <xsd:element name="codiceIdRPT" type="tns:ctNodoTipoCodiceIdRPT"/>
            <xsd:element name="datiPagamentoPSP" type="tns:ctNodoTipoDatiPagamentoPSP"/>

        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ctNodoAttivaRPTRisposta">
        <xsd:sequence>
            <xsd:element name="nodoAttivaRPTRisposta" type="tns:ctEsitoNodoAttivaRPTRisposta"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ctEsitoNodoAttivaRPTRisposta">
        <xsd:complexContent>
            <xsd:extension base="tns:risposta">
                <xsd:sequence>
                    <xsd:element name="esito" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="datiPagamentoPA" type="tns:ctNodoTipoDatiPagamentoPA"
                        minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ctNodoInviaFlussoRendicontazione">
        <xsd:sequence>
            <xsd:element name="identificativoPSP" type="pay:stText35"/>
            <xsd:element name="identificativoIntermediarioPSP" type="pay:stText35" minOccurs="0"/>
            <xsd:element name="identificativoCanale" type="pay:stText35" minOccurs="0"/>
            <xsd:element name="password" type="pay:stPassword"/>
            <xsd:element name="identificativoDominio" type="pay:stText35"/>
            <xsd:element name="identificativoFlusso" type="xsd:string"/>
            <xsd:element name="dataOraFlusso" type="xsd:dateTime"/>
            <xsd:element name="xmlRendicontazione" type="xsd:base64Binary"
                xmime:expectedContentTypes="application/octet-stream"
                xmlns:xmime="http://www.w3.org/2005/05/xmlmime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ctNodoInviaFlussoRendicontazioneRisposta">
        <xsd:complexContent>
            <xsd:extension base="tns:risposta">
                <xsd:sequence>
                    <xsd:element name="esito" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ctNodoChiediInformativaPA">
        <xsd:sequence>
            <xsd:element name="identificativoPSP" type="pay:stText35" minOccurs="0"/>
            <xsd:element name="identificativoIntermediarioPSP" type="pay:stText35"/>
            <xsd:element name="identificativoCanale" type="pay:stText35"/>
            <xsd:element name="password" type="pay:stPassword"/>
            <xsd:element name="identificativoDominio" type="pay:stText35" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ctNodoChiediInformativaPARisposta">
        <xsd:complexContent>
            <xsd:extension base="tns:risposta">
                <xsd:sequence>
                    <xsd:element name="xmlInformativa" type="xsd:base64Binary" minOccurs="0"
                        xmime:expectedContentTypes="application/octet-stream"
                        xmlns:xmime="http://www.w3.org/2005/05/xmlmime"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ctNodoChiediTemplateInformativaPSP">
        <xsd:sequence>
            <xsd:element name="identificativoPSP" type="pay:stText35"/>
            <xsd:element name="identificativoIntermediarioPSP" type="pay:stText35"/>
            <xsd:element name="identificativoCanale" type="pay:stText35"/>
            <xsd:element name="password" type="pay:stPassword"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ctNodoChiediTemplateInformativaPSPRisposta">
        <xsd:complexContent>
            <xsd:extension base="tns:risposta">
                <xsd:sequence>
                    <xsd:element name="xmlTemplateInformativa" type="xsd:base64Binary" minOccurs="0"
                        xmime:expectedContentTypes="application/octet-stream"
                        xmlns:xmime="http://www.w3.org/2005/05/xmlmime"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ctNodoChiediElencoQuadraturePSP">
        <xsd:sequence>
            <xsd:element name="identificativoPSP" type="pay:stText35"/>
            <xsd:element name="identificativoIntermediarioPSP" type="pay:stText35"/>
            <xsd:element name="identificativoCanale" type="pay:stText35"/>
            <xsd:element name="password" type="pay:stPassword"/>
            <xsd:element name="identificativoDominio" type="pay:stText35" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ctNodoChiediElencoQuadraturePSPRisposta">
        <xsd:complexContent>
            <xsd:extension base="tns:risposta">
                <xsd:sequence>
                    <xsd:element name="listaQuadrature" type="tns:ctTipoListaQuadrature"
                        minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ctTipoListaQuadrature">
        <xsd:sequence>
            <xsd:element name="totRestituiti" type="xsd:int"/>
            <xsd:element name="idQuadratura" type="tns:ctTipoIdQuadratura" nillable="true"
                minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ctTipoIdQuadratura">
        <xsd:sequence>
            <xsd:element name="identificativoFlusso" type="xsd:string"/>
            <xsd:element name="dataOraFlusso" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctNodoChiediQuadraturaPSP">
        <xsd:sequence>
            <xsd:element name="identificativoPSP" type="pay:stText35"/>
            <xsd:element name="identificativoIntermediarioPSP" type="pay:stText35"/>
            <xsd:element name="identificativoCanale" type="pay:stText35"/>
            <xsd:element name="password" type="pay:stPassword"/>
            <xsd:element name="identificativoFlusso" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ctNodoChiediQuadraturaPSPRisposta">
        <xsd:complexContent>
            <xsd:extension base="tns:risposta">
                <xsd:sequence>
                    <xsd:element name="xmlQuadratura" type="xsd:base64Binary" minOccurs="0"
                        xmime:expectedContentTypes="application/octet-stream"
                        xmlns:xmime="http://www.w3.org/2005/05/xmlmime"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ctNodoInviaEsitoStorno">
        <xsd:sequence>
            <xsd:element name="identificativoPSP" type="pay:stText35"/>
            <xsd:element name="identificativoIntermediarioPSP" type="pay:stText35"/>
            <xsd:element name="identificativoCanale" type="pay:stText35"/>
            <xsd:element name="password" type="pay:stPassword"/>
            <xsd:element name="identificativoDominio" type="pay:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="pay:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="pay:stText35"/>
            <xsd:element name="er" type="xsd:base64Binary" minOccurs="0"
                xmime:expectedContentTypes="application/octet-stream"
                xmlns:xmime="http://www.w3.org/2005/05/xmlmime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctNodoInviaEsitoStornoRisposta">
        <xsd:complexContent>
            <xsd:extension base="tns:risposta">
                <xsd:sequence>
                    <xsd:element name="esito" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ctNodoInviaRichiestaRevoca">
        <xsd:sequence>
            <xsd:element name="identificativoPSP" type="pay:stText35"/>
            <xsd:element name="identificativoIntermediarioPSP" type="pay:stText35"/>
            <xsd:element name="identificativoCanale" type="pay:stText35"/>
            <xsd:element name="password" type="pay:stPassword"/>
            <xsd:element name="identificativoDominio" type="pay:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="pay:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="pay:stText35"/>
            <xsd:element name="rr" type="xsd:base64Binary"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctNodoInviaRichiestaRevocaRisposta">
        <xsd:complexContent>
            <xsd:extension base="tns:risposta">
                <xsd:sequence>
                    <xsd:element name="esito" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


</xsd:schema>
