res/common/pagoPa_simpleTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="6.2.0"
    xmlns="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.0"  >


    <xsd:simpleType name="stISO76_iuv">
        <xsd:annotation>
            <xsd:documentation>rappresenta un Identificativo Univoco pagamento </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>

    <xsd:simpleType name="stIdentificativoMessaggioRichiesta">
        <xsd:annotation>
            <xsd:documentation>da completare </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    
    <xsd:simpleType name="stTipoPagamento">
        <xsd:annotation>
            <xsd:documentation> da completare </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    

    <xsd:simpleType name="stISODate">
        <xsd:annotation>
            <xsd:documentation>rappresenta una data </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>

    <xsd:simpleType name="stISODateTime">
        <xsd:annotation>
            <xsd:documentation>rappresenta un orario con data</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>

    <xsd:simpleType name="stText16">
        <xsd:annotation>
            <xsd:documentation>rappresenta un qualsiasi testo di lunghezza 16 caratteri</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="16"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="stText40">
        <xsd:annotation>
            <xsd:documentation>rappresenta un qualsiasi testo di lunghezza 16 caratteri</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText35">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="stText25">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText70">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="70"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText140">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="140"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stAutenticazioneSoggetto">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
            <xsd:enumeration value="CNS"/>
            <!-- CIE/CNS -->
            <xsd:enumeration value="USR"/>
            <!-- Userid e passaword -->
            <xsd:enumeration value="OTH"/>
            <!-- Altro -->
            <xsd:enumeration value="N/A"/>
            <!-- Non applicabile -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCodiceEsitoPagamento">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,1}"/>
            <xsd:enumeration value="0"/>
            <!-- Pagamento eseguito -->
            <xsd:enumeration value="1"/>
            <!-- Pagamento non eseguito -->
            <xsd:enumeration value="2"/>
            <!-- Pagamento parzialmente eseguito -->
            <xsd:enumeration value="3"/>
            <!-- Decorrenza termini -->
            <xsd:enumeration value="4"/>
            <!-- Decorrenza termini parziale -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stImporto">
        <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0.00"/>
            <xsd:maxInclusive value="99999999.99"/>
            <xsd:fractionDigits value="2"/>
            <xsd:totalDigits value="12"/>
            <xsd:pattern value="\d+\.\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stImportoDiversoDaZero">
        <xsd:restriction base="stImporto">
            <xsd:minInclusive value="0.01"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stNazioneProvincia">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{2,2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoVersamento">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BBT"/>
            <!-- Bonifico Bancario di Tesoreria -->
            <xsd:enumeration value="BP"/>
            <!--- Bollettino Postale -->
            <xsd:enumeration value="AD"/>
            <!--- Addebito Diretto -->
            <xsd:enumeration value="CP"/>
            <!--- Carta di Pagamento -->
            <xsd:enumeration value="PO"/>
            <!--- Pagamento attivato presso PSP -->
            <xsd:enumeration value="OBEP"/>
            <!--- On-line Banking E-Payment -->
			<xsd:enumeration value="JIF"/>
            <!--- bancomat Pay -->
            <xsd:enumeration value="OTH"/>
            <!-- Altre forme di versamento -->
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stDatiSpecificiRiscossione">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0129]{1}/\S{3,138}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stIBANIdentifier">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stFirmaRicevuta">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <!-- Firma non richiesta -->
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoIdentificativoUnivoco">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="G"/>
            <!-- Persona Giuridica -->
            <xsd:enumeration value="A"/>
            <!-- Codice ABI -->
            <xsd:enumeration value="B"/>
            <!-- Codice BIC -->
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoIdentificativoUnivocoPersFG">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="F"/>
            <!-- Persona Fisica -->
            <xsd:enumeration value="G"/>
            <!-- Persona Giuridica -->
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoIdentificativoUnivocoPersG">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="G"/>
            <!-- Persona Giuridica -->
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stBICIdentifier">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stEMail">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9_\.\+\-]+@[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]+)*"/>
            <xsd:maxLength value="256"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoBollo">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="01"/>
            <!-- Imposta di bollo -->
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoAllegatoRicevuta">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ES"/>
            <!-- Esito originario pagamento (come ricevuto da PSP) -->
            <xsd:enumeration value="BD"/>
            <!-- Marca da bollo digitale  -->
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stBase64">
        <xsd:restriction base="xsd:base64Binary"> </xsd:restriction>
    </xsd:simpleType>
    	
    <xsd:simpleType name="stPIVA">
        <xsd:annotation>
            <xsd:documentation>definisce il codice fiscale di un Ente Creditore</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{11}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTextIso7064">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="140"></xsd:maxLength>
            <xsd:pattern value="^\/RFS\/RF[a-zA-Z0-9]{3,21}(\/[0-9]{1,8}\.[0-9]{2})?(\/TXT\/[a-zA-Z0-9_\.\+\-]{1,140})?"></xsd:pattern>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTextPagamento">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="140"></xsd:maxLength>
            <xsd:pattern value="^\/RFB\/[a-zA-Z0-9]{1,35}(\/[0-9]{1,8}\.[0-9]{2})(\/TXT\/[a-zA-Z0-9_\.\+\-]{1,140})?"></xsd:pattern>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="stPassword">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="8" />
            <xsd:maxLength value="15" />
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="stEffettuazioneScelta">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SI" />
           <!-- Valori non più ammessi, funzione emulata 
               <xsd:enumeration value="NO" />
            <xsd:enumeration value="PO" />-->
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="ctFaultBean">
        <xsd:sequence>
            <xsd:element name="faultCode" type="xsd:string" />
            <xsd:element name="faultString" type="xsd:string" />
            <xsd:element name="id" type="xsd:string" />
            <xsd:element name="description" type="xsd:string" minOccurs="0" />
            <xsd:element name="serial" type="xsd:int" minOccurs="0" />
            <xsd:element name="originalFaultCode" type="xsd:string"  minOccurs="0"  />
            <xsd:element name="originalFaultString" type="xsd:string"  minOccurs="0"  />
            <xsd:element name="originalDescription" type="xsd:string" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="stEsito">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="OK" /> 
        <xsd:enumeration value="KO" />
    </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="stFlusso">
        <xsd:restriction base="xsd:string">
		 <xsd:pattern value="(\d{4})-(\d{2})-(\d{2})([a-zA-Z0-9]){8,11}-([a-zA-z0-9-_]){1,12}"/>
          <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    
</xsd:schema>
