res/ec/xsd/nodoPerPa.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.agid.gov.it/schemas/pagoPa/nodo"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="6.2.0"
    xmlns:pay="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/"
    xmlns:tns="http://www.agid.gov.it/schemas/pagoPa/nodo"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"  >
    
    
    <xsd:import namespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/" schemaLocation="../../common/pagoPa_complexTypes.xsd"/>
    <xsd:import namespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/" schemaLocation="../../common/pagoPa_simpleTypes.xsd" />
    
	<xsd:complexType name="risposta">
		<xsd:sequence>
			<xsd:element name="fault" type="pay:ctFaultBean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
    
    	<xsd:complexType name="ctNodoChiediStatoRPT">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword"/>
					<xsd:element name="identificativoDominio" type="pay:stText35" />
					<xsd:element name="identificativoUnivocoVersamento" type="pay:stText35" />
					<xsd:element name="codiceContestoPagamento" type="pay:stText35" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediStatoRPTRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="tns:ctEsitoChiediStatoRPT" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctEsitoChiediStatoRPT">
				<xsd:sequence>
					<xsd:element name="stato" type="xsd:string" />
					<xsd:element name="redirect" type="xsd:int" default="0" minOccurs="0" />
					<xsd:element name="url" type="xsd:string" default="" minOccurs="0" />
					<xsd:element name="elementoStoricoRPT" type="tns:ctTipoStoricoRPT" nillable="true" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="elementoStoricoVersamento" type="tns:ctTipoStoricoVersamento" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctTipoStoricoRPT">
				<xsd:sequence>
					<xsd:element name="data" type="xsd:dateTime" />
					<xsd:element name="stato" type="xsd:string" />
					<xsd:element name="descrizione" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctTipoStoricoVersamento">
				<xsd:sequence>
					<xsd:element name="progressivo" type="xsd:int" />
					<xsd:element name="data" type="xsd:dateTime" />
					<xsd:element name="stato" type="xsd:string" />
					<xsd:element name="descrizione" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediCopiaRT">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" />
					<xsd:element name="identificativoUnivocoVersamento" type="pay:stText35" />
					<xsd:element name="codiceContestoPagamento" type="pay:stText35" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediCopiaRTRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="tipoFirma" type="xsd:string" minOccurs="0" />
							<xsd:element name="rt" type="xsd:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaRichiestaStorno">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" />
					<xsd:element name="identificativoUnivocoVersamento" type="pay:stText35" />
					<xsd:element name="codiceContestoPagamento" type="pay:stText35" />
					<xsd:element name="rr" type="xsd:base64Binary" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaRichiestaStornoRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="xsd:string" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaRispostaRevoca">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" />
					<xsd:element name="identificativoUnivocoVersamento" type="pay:stText35" />
					<xsd:element name="codiceContestoPagamento" type="pay:stText35" />
					<xsd:element name="er" type="xsd:base64Binary" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaRispostaRevocaRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaRPT">
				<xsd:sequence>
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoPSP" type="pay:stText35" />
					<xsd:element name="identificativoIntermediarioPSP" type="pay:stText35"/>
					<xsd:element name="identificativoCanale" type="pay:stText35"/>
					<xsd:element name="tipoFirma" type="xsd:string" minOccurs="0" />
					<xsd:element name="rpt" type="xsd:base64Binary" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaRPTRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="xsd:string" minOccurs="0" />
							<xsd:element name="redirect" type="xsd:int" default="0" minOccurs="0" />
							<xsd:element name="url" type="xsd:string" default="" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaCarrelloRPT">
				<xsd:sequence>
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoPSP" type="pay:stText35" />
					<xsd:element name="identificativoIntermediarioPSP" type="pay:stText35" />
					<xsd:element name="identificativoCanale" type="pay:stText35" />
					<xsd:element name="listaRPT" type="tns:ctTipoListaRPT" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctTipoListaRPT">
				<xsd:sequence>
					<xsd:element name="elementoListaRPT" type="tns:ctTipoElementoListaRPT" minOccurs="1" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctTipoElementoListaRPT">
				<xsd:sequence>
					<xsd:element name="identificativoDominio" type="pay:stText35" />
					<xsd:element name="identificativoUnivocoVersamento" type="pay:stText35" />
					<xsd:element name="codiceContestoPagamento" type="pay:stText35" />
					<xsd:element name="tipoFirma" type="xsd:string" minOccurs="0" />
					<xsd:element name="rpt" type="xsd:base64Binary" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaCarrelloRPTRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="esitoComplessivoOperazione" type="xsd:string" />
							<xsd:element name="url" type="xsd:string" default="" minOccurs="0" />
							<xsd:element name="listaErroriRPT" type="tns:ctListaErroriRPT" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctListaErroriRPT">
				<xsd:sequence>
					<xsd:element name="fault" type="pay:ctFaultBean" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediListaPendentiRPT">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" minOccurs="0" />
					<xsd:element name="rangeDa" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="rangeA" type="xsd:dateTime" minOccurs="0" />
					<xsd:element name="dimensioneLista" type="xsd:positiveInteger" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediListaPendentiRPTRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="listaRPTPendenti" type="tns:ctTipoListaRPTPendenti" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctTipoListaRPTPendenti">
				<xsd:sequence>
					<xsd:element name="totRestituiti" type="xsd:int" />
					<xsd:element name="rptPendente" type="tns:ctTipoRPTPendente" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctTipoRPTPendente">
				<xsd:sequence>
					<xsd:element name="identificativoDominio" type="pay:stText35" />
					<xsd:element name="identificativoUnivocoVersamento" type="pay:stText35" />
					<xsd:element name="codiceContestoPagamento" type="pay:stText35" />
					<xsd:element name="stato" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediInformativaPSP">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" minOccurs="0" />
					<xsd:element name="identificativoPSP" type="pay:stText35" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediInformativaPSPRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="xmlInformativa" type="xsd:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoPAChiediInformativaPA">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoPAChiediInformativaPARisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="xmlInformativa" type="xsd:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediElencoQuadraturePA">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediElencoQuadraturePARisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="listaQuadrature" type="tns:ctTipoListaQuadrature" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctTipoListaQuadrature">
				<xsd:sequence>
					<xsd:element name="totRestituiti" type="xsd:int" />
					<xsd:element name="idQuadratura" type="tns:ctTipoIdQuadratura" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctTipoIdQuadratura">
				<xsd:sequence>
					<xsd:element name="identificativoFlusso" type="xsd:string" />
					<xsd:element name="dataOraFlusso" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediQuadraturaPA">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" minOccurs="0" />
					<xsd:element name="identificativoFlusso" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediQuadraturaPARisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="xmlQuadratura" type="xsd:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediElencoFlussiRendicontazione">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" minOccurs="0" />
					<xsd:element name="identificativoPSP" type="pay:stText35" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			

			<xsd:complexType name="ctTipoElencoFlussiRendicontazione">
				<xsd:sequence>
					<xsd:element name="totRestituiti" type="xsd:int" />
					<xsd:element name="idRendicontazione" type="tns:ctTipoIdRendicontazione" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

	<xsd:complexType name="ctNodoChiediElencoFlussiRendicontazioneRisposta">
		<xsd:complexContent>
			<xsd:extension base="tns:risposta">
				<xsd:sequence>
					<xsd:element name="elencoFlussiRendicontazione" type="tns:ctTipoElencoFlussiRendicontazione" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
			<xsd:complexType name="ctTipoIdRendicontazione">
				<xsd:sequence>
					<xsd:element name="identificativoFlusso" type="xsd:string" />
					<xsd:element name="dataOraFlusso" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediFlussoRendicontazione">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" minOccurs="0" />
					<xsd:element name="identificativoPSP" type="pay:stText35" minOccurs="0" />
					<xsd:element name="identificativoFlusso" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediFlussoRendicontazioneRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="xmlRendicontazione" type="xsd:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediSceltaWISP">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" />
					<xsd:element name="keyPA" type="pay:stText40" />
					<xsd:element name="keyWISP" type="pay:stText40" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediSceltaWISPRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="effettuazioneScelta" type="pay:stEffettuazioneScelta" minOccurs="0" />
							<xsd:element name="identificativoPSP" type="pay:stText35"  minOccurs="0" />
							<xsd:element name="identificativoIntermediarioPSP" type="pay:stText35" minOccurs="0" />
							<xsd:element name="identificativoCanale" type="pay:stText35" minOccurs="0" />
							<xsd:element name="tipoVersamento" type="pay:stTipoVersamento" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
</xsd:schema>
