res/ec/xsd/nodoPerPa.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.agid.gov.it/schemas/pagoPa/nodo"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="6.2.0"
    xmlns:pay="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/"
    xmlns:tns="http://www.agid.gov.it/schemas/pagoPa/nodo"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.0"   >
    
    
    <xsd:import namespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/" schemaLocation="../../common/pagoPa_simpleTypes.xsd" />
    
	<xsd:complexType name="risposta">
		<xsd:sequence>
			<xsd:element name="fault" type="pay:ctFaultBean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="richiestaPa">
		<xsd:sequence>
			<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" >
				<xsd:annotation>
					<xsd:documentation>identificativo dell'intermediario PA mittente della richiesta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" >
				<xsd:annotation>
					<xsd:documentation>identificativo della stazione utilizzata per il trasporto del messaggio</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="password" type="pay:stPassword">
				<xsd:annotation>
					<xsd:documentation>codice di sicurezza per la trasmissione</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificativoDominio" type="pay:stText35" >
				<xsd:annotation>
					<xsd:documentation>identificativo dell'EC mittente</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
    
    	<xsd:complexType name="ctNodoChiediStatoRPT">
    		<xsd:complexContent>
    		<xsd:extension base="tns:richiestaPa">
    			<xsd:sequence>    				
    				<xsd:element name="identificativoUnivocoVersamento" type="pay:stText35" >
    					<xsd:annotation>
    						<xsd:documentation>identificativo univoco del versamento (IUV) </xsd:documentation>
    					</xsd:annotation>
    				</xsd:element>
    				<xsd:element name="codiceContestoPagamento" type="pay:stText35" >
    					<xsd:annotation>
    						<xsd:documentation>definisce il contensto del pagamento </xsd:documentation>
    					</xsd:annotation>
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    		</xsd:complexContent>
				
			</xsd:complexType>


<xsd:simpleType name="stStatoRPT">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="RPT_RICEVUTA_NODO">
			<xsd:annotation>
				<xsd:documentation>RPT ricevuta dal Nodo e in attesa di essere processata</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="RPT_RIFIUTATA_NODO">
			<xsd:annotation>
				<xsd:documentation>RPT rifiutata dal Nodo per sintassi o semantica errata</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="RPT_ACCETTATA_NODO">
			<xsd:annotation>
				<xsd:documentation>RPT accettata dal Nodo come valida</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="RPT_RIFIUTATA_PSP">
			<xsd:annotation>
				<xsd:documentation>RPT rifiutata dall'Intermediario PSP per sintassi o semantica errata</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="RPT_ERRORE_INVIO_A_PSP">
			<xsd:annotation>
				<xsd:documentation>RPT inviata all'Intermediario PSP - indisponibilità del ricevente</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="RPT_INVIATA_A_PSP">
			<xsd:annotation>
				<xsd:documentation>RPT inviata all'Intermediario PSP - azione in attesa di risposta</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="RPT_ACCETTATA_PSP">
			<xsd:annotation>
				<xsd:documentation>RPT ricevuta ed accettata dall'Intermediario PSP come valida</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="RPT_DECORSI_TERMINI">
			<xsd:annotation>
				<xsd:documentation>RPT ha superato il periodo di decorrenza termini nel Nodo</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="RT_RICEVUTA_NODO">
			<xsd:annotation>
				<xsd:documentation>RT ricevuta dal Nodo</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="RT_RIFIUTATA_NODO">
			<xsd:annotation>
				<xsd:documentation>RT rifiutata dal Nodo per sintassi o semantica errata</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="RT_ACCETTATA_NODO">
			<xsd:annotation>
				<xsd:documentation>RT accettata dal Nodo come valida ed in corso di invio all'Intermediario dell’Ente Creditore</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="RT_ACCETTATA_PA">
			<xsd:annotation>
				<xsd:documentation>RT ricevuta dall'Intermediario dell’Ente Creditore ed accettata</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="RT_RIFIUTATA_PA">
			<xsd:annotation>
				<xsd:documentation>RT ricevuta dall'Intermediario dell’Ente Creditore e rifiutata</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="RT_ESITO_SCONOSCIUTO">
			<xsd:annotation>
				<xsd:documentation>Esito dell'accettazione RT dell'Intermediario dell’Ente Creditore non interpretabile</xsd:documentation>
			</xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>
	
	
			<xsd:complexType name="ctNodoChiediStatoRPTRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>							
							<xsd:element name="stato" type="tns:stStatoRPT" minOccurs="1" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>stato attuale del pagamento</xsd:documentation>
								</xsd:annotation>
							</xsd:element>														
							<xsd:element name="redirect" type="xsd:boolean" default="0" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>specifica se il pagamento prescelto dall'utente prevede la re-direzione dell'utilizzatore final</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="url" type="xsd:string" default="" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>URL a cui redigere il browser dell'utilizzatore finale contenente la chiave sessione, utile per recuperare nel caso la risposta alla nodoInviaCarrelloRPT sia stata persa</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="elementoStoricoRPT"  nillable="true" minOccurs="0" maxOccurs="unbounded" >
								<xsd:annotation>
									<xsd:documentation>Contiene i vari stati che la RPT ha assunto durante la sua storia</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="data" type="xsd:dateTime" >
											<xsd:annotation>
												<xsd:documentation>data dell'evento </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="stato" type="tns:stStatoRPT" >
											<xsd:annotation>
												<xsd:documentation> stato dell'RPT</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="descrizione" type="xsd:string" >
											<xsd:annotation>
												<xsd:documentation>descrizione dello stato alla data</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>								
							</xsd:element>
							<xsd:element name="elementoStoricoVersamento" type="tns:ctTipoStoricoVersamento" nillable="true" minOccurs="0" maxOccurs="unbounded" >
								<xsd:annotation>
									<xsd:documentation>DEPRECATO</xsd:documentation>
								</xsd:annotation>
							</xsd:element>							
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

	

	<!--	ctTipoStoricoVersamento	DEPRECATO INIZIO-->
			<xsd:complexType name="ctTipoStoricoVersamento">
				<xsd:sequence>
					<xsd:element name="progressivo" type="xsd:int" />
					<xsd:element name="data" type="xsd:dateTime" />
					<xsd:element name="stato" type="xsd:string" />
					<xsd:element name="descrizione" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
	<!--	ctTipoStoricoVersamento	DEPRECATO FINE-->

			<xsd:complexType name="ctNodoChiediCopiaRT">
				<xsd:complexContent>
					<xsd:extension base="tns:richiestaPa">
						<xsd:sequence>					
							<xsd:element name="identificativoUnivocoVersamento" type="pay:stText35" >
								<xsd:annotation>
									<xsd:documentation>identificativo della posizione debitoria </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="codiceContestoPagamento" type="pay:stText35" >
								<xsd:annotation>
									<xsd:documentation>Identificativo del contesto pagamento</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>				
			</xsd:complexType>

			<xsd:complexType name="cctNodoChiediCopiaRTRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="tipoFirma" type="xsd:string" fixed="0" minOccurs="0" >
								<xsd:annotation>
									<xsd:documentation> DEPRECATO</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="rt" type="xsd:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" >
								<xsd:annotation>
									<xsd:documentation>Contiene il file XML condificato in base64 binary della RT, se trovata</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaRichiestaStorno">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" />
					<xsd:element name="identificativoUnivocoVersamento" type="pay:stText35" />
					<xsd:element name="codiceContestoPagamento" type="pay:stText35" />
					<xsd:element name="rr" type="xsd:base64Binary" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaRichiestaStornoRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="xsd:string" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaRispostaRevoca">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" />
					<xsd:element name="identificativoUnivocoVersamento" type="pay:stText35" />
					<xsd:element name="codiceContestoPagamento" type="pay:stText35" />
					<xsd:element name="er" type="xsd:base64Binary" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaRispostaRevocaRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="xsd:string" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaRPT">
				<xsd:sequence>
					<xsd:element name="password" type="pay:stPassword" >
						<xsd:annotation>
							<xsd:documentation> chiave di sicurezza tra EC e Nodo</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="identificativoPSP" type="pay:stText35" >
						<xsd:annotation>
							<xsd:documentation> indetificativo del PSP a cui destinare la RPT </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="identificativoIntermediarioPSP" type="pay:stText35">
						<xsd:annotation>
							<xsd:documentation> identifica l'intermediario , eventualmente coincidente con il PSP , da utilizzare per destinare la RPT</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="identificativoCanale" type="pay:stText35">
						<xsd:annotation>
							<xsd:documentation> identifica il canale da utilizzare nel percorso verso il PSP</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="tipoFirma" type="xsd:string" fixed="0" minOccurs="0" >
						<xsd:annotation>
							<xsd:documentation> DEPRECATO, la firma sulla ricevuta non può essere più richiesta </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="rpt" type="xsd:base64Binary" >
						<xsd:annotation>
							<xsd:documentation>Contiene l'encode base64 della RPT da sottomettere</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaRPTRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="esito" type="pay:stEsito" minOccurs="0" >
								<xsd:annotation>
									<xsd:documentation>definisce l'esito (OK/KO) dell'invio </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="redirect" type="xsd:boolean" default="0" minOccurs="0" >
								<xsd:annotation>
									<xsd:documentation>definisce se il pagamento prevede la re-direzione dell'utilizzatore finale</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="url" type="xsd:string" default="" minOccurs="0" >
								<xsd:annotation>
									<xsd:documentation>URL a cui re-dirigere il browser dell’utilizzatore finale, contenente anche una query string idSession che identifica univocamente l’operazione di pagamento</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaCarrelloRPT">
				<xsd:sequence>
					<xsd:element name="password" type="pay:stPassword" >
						<xsd:annotation>
							<xsd:documentation> chiave di sicurezza tra EC e Nodo</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="identificativoPSP" type="pay:stText35" >
						<xsd:annotation>
							<xsd:documentation> indetificativo del PSP a cui destinare la RPT </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="identificativoIntermediarioPSP" type="pay:stText35">
						<xsd:annotation>
							<xsd:documentation> identifica l'intermediario , eventualmente coincidente con il PSP , da utilizzare per destinare la RPT</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="identificativoCanale" type="pay:stText35">
						<xsd:annotation>
							<xsd:documentation> identifica il canale da utilizzare nel percorso verso il PSP</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="listaRPT"  >
						<xsd:complexType >
							<xsd:sequence>
								<xsd:element name="elementoListaRPT" type="tns:ctTipoElementoListaRPT" minOccurs="1" maxOccurs="unbounded" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			

			<xsd:complexType name="ctTipoElementoListaRPT">
				<xsd:sequence>
					<xsd:element name="identificativoDominio" type="pay:stText35" >
						<xsd:annotation>
							<xsd:documentation>identificativo dell'EC mittente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="identificativoUnivocoVersamento" type="pay:stText35" />
					<xsd:element name="codiceContestoPagamento" type="pay:stText35" />
					<xsd:element name="tipoFirma" type="xsd:string" fixed="0" minOccurs="0" >
						<xsd:annotation>
							<xsd:documentation>DEPRECATO</xsd:documentation>
						</xsd:annotation>
					</xsd:element> 					
					<xsd:element name="rpt" type="xsd:base64Binary" >
						<xsd:annotation>
							<xsd:documentation>Contiene l'encode base64 della RPT da sottomettere</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoInviaCarrelloRPTRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="esitoComplessivoOperazione" type="pay:stEsito" >
								<xsd:annotation>
									<xsd:documentation>Esito dell'operazione</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="url" type="xsd:string" default="" minOccurs="0" >
								<xsd:annotation>
									<xsd:documentation>URL cui re-dirigere il browser dell’utilizzatore finale, contenente anche una query string idSession che identifica univocamente l’operazione di pagamento</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="listaErroriRPT" minOccurs="0" >
								<xsd:annotation>
									<xsd:documentation>struttura costituita da n elementi faultBean, </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType >
									<xsd:sequence>
										<xsd:element name="fault" type="pay:ctFaultBean" minOccurs="0" maxOccurs="unbounded" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			

			<xsd:complexType name="ctNodoChiediListaPendentiRPT">
				<xsd:complexContent>
					<xsd:extension base="tns:richiestaPa">
						<xsd:sequence>							
							<xsd:element name="rangeDa" type="xsd:dateTime" minOccurs="0" maxOccurs="1" >
								<xsd:annotation>
									<xsd:documentation> Data inizio ricerca </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="rangeA" type="xsd:dateTime" minOccurs="0" maxOccurs="1" >
								<xsd:annotation>
									<xsd:documentation> Data fine ricerca </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="dimensioneLista" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1" >
								<xsd:annotation>
									<xsd:documentation> numero massimo di elementi da restituire </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>								
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediListaPendentiRPTRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="listaRPTPendenti"  minOccurs="0" >
								<xsd:complexType >
									<xsd:sequence>
										<xsd:element name="totRestituiti" type="xsd:int" />
										<xsd:element name="rptPendente"  nillable="true" minOccurs="0" maxOccurs="unbounded" >
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="identificativoDominio" type="pay:stPIVA"></xsd:element>
													<xsd:element name="identificativoUnivocoVersamento" type="pay:stText35"></xsd:element>
													<xsd:element name="codiceContestoPagamento" type="pay:stText35" />
													<xsd:element name="stato" type="tns:stStatoRPT" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			

			

			<xsd:complexType name="ctNodoChiediInformativaPSP">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" minOccurs="0" />
					<xsd:element name="identificativoPSP" type="pay:stText35" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediInformativaPSPRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="xmlInformativa" type="xsd:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoPAChiediInformativaPA">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoPAChiediInformativaPARisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="xmlInformativa" type="xsd:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediElencoQuadraturePA">
				<xsd:complexContent>
					<xsd:extension base="tns:richiestaPa">						
					</xsd:extension>
				</xsd:complexContent>				
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediElencoQuadraturePARisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="totRestituiti" type="xsd:int" />
							<xsd:element name="idQuadratura" nillable="true" minOccurs="0" maxOccurs="unbounded" >
								<xsd:complexType >
									<xsd:sequence>
										<xsd:element name="identificativoFlusso" type="pay:stFlusso" />
										<xsd:element name="dataOraFlusso" type="xsd:dateTime" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			

		

			<xsd:complexType name="ctNodoChiediQuadraturaPA">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" minOccurs="0" />
					<xsd:element name="identificativoFlusso" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediQuadraturaPARisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="xmlQuadratura" type="xsd:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediElencoFlussiRendicontazione">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" minOccurs="0" />
					<xsd:element name="identificativoPSP" type="pay:stText35" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			

			<xsd:complexType name="ctTipoElencoFlussiRendicontazione">
				<xsd:sequence>
					<xsd:element name="totRestituiti" type="xsd:int" />
					<xsd:element name="idRendicontazione" type="tns:ctTipoIdRendicontazione" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

	<xsd:complexType name="ctNodoChiediElencoFlussiRendicontazioneRisposta">
		<xsd:complexContent>
			<xsd:extension base="tns:risposta">
				<xsd:sequence>
					<xsd:element name="elencoFlussiRendicontazione" type="tns:ctTipoElencoFlussiRendicontazione" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
			<xsd:complexType name="ctTipoIdRendicontazione">
				<xsd:sequence>
					<xsd:element name="identificativoFlusso" type="xsd:string" />
					<xsd:element name="dataOraFlusso" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediFlussoRendicontazione">
				<xsd:sequence>
					<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
					<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
					<xsd:element name="password" type="pay:stPassword" />
					<xsd:element name="identificativoDominio" type="pay:stText35" minOccurs="0" />
					<xsd:element name="identificativoPSP" type="pay:stText35" minOccurs="0" />
					<xsd:element name="identificativoFlusso" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediFlussoRendicontazioneRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="xmlRendicontazione" type="xsd:base64Binary" minOccurs="0" xmime:expectedContentTypes="application/octet-stream" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediSceltaWISP">
				<xsd:complexContent>
					<xsd:extension base="tns:richiestaPa">
						<xsd:sequence>					
							<xsd:element name="keyPA" type="pay:stText40" >
								<xsd:annotation>
									<xsd:documentation>token generato dall'EC che identifica la sessione di scelta del PSP da parte dell'utilizzatore finale</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="keyWISP" type="pay:stText40" >
								<xsd:annotation>
									<xsd:documentation>token generato dal WISP al momento della chiusura del processo di scelta del PSP (simulato per modalità emulata) </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
				
			</xsd:complexType>

			<xsd:complexType name="ctNodoChiediSceltaWISPRisposta">
				<xsd:complexContent>
					<xsd:extension base="tns:risposta">
						<xsd:sequence>
							<xsd:element name="effettuazioneScelta" type="pay:stEffettuazioneScelta" fixed="SI" minOccurs="1" />
							<xsd:element name="identificativoPSP" type="pay:stText35"  fixed="AGID_01" minOccurs="1" />
							<xsd:element name="identificativoIntermediarioPSP" type="pay:stText35" fixed="97735020584" minOccurs="1" />
							<xsd:element name="identificativoCanale" type="pay:stText35" fixed="97735020584_02" minOccurs="1" />
							<xsd:element name="tipoVersamento" type="pay:stTipoVersamento" minOccurs="0" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
</xsd:schema>
