res/ec/wsdl/NodoPerPa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Questo WSDL rappresenta l'interfaccia esposta dal Nodo dei Pagamenti
  verso l'EC per la gestione dei pagamenti.
  Versione 6.2.0 di RPT/RT.
  Renaming delle primitive.
-->
<wsdl:definitions

       
        xmlns:nodo ="http://www.agid.gov.it/schemas/pagoPa/nodo"
        xmlns:tns="http://www.agid.gov.it/services/pagoPa/nodo"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        name="PagamentiTelematiciRPTservice"
        targetNamespace="http://www.agid.gov.it/services/pagoPa/nodo"
   
        xmlns:pay="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/"
>
	
<wsdl:types>
	<xsd:schema>
		<xsd:import namespace="http://www.agid.gov.it/schemas/pagoPa/nodo" schemaLocation="../xsd/nodoPerPa.xsd"></xsd:import>
	</xsd:schema>
</wsdl:types>
		
	<wsdl:message name="nodoChiediStatoRPT">
		<wsdl:part name="bodyrichiesta" element="nodo:nodoChiediStatoRPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediStatoRPTResponse">
		<wsdl:part name="bodyrisposta" element="nodo:nodoChiediStatoRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoChiediCopiaRT">
		<wsdl:part name="bodyrichiesta" element="nodo:nodoChiediCopiaRT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediCopiaRTResponse">
		<wsdl:part name="bodyrisposta" element="nodo:nodoChiediCopiaRTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaRPT">
		<wsdl:part name="bodyrichiesta" element="nodo:nodoInviaRPT">
		</wsdl:part>
		<wsdl:part name="header" element="nodo:intestazionePPT">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaRPTResponse">
		<wsdl:part name="bodyrisposta" element="nodo:nodoInviaRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaCarrelloRPT">
		<wsdl:part name="bodyrichiesta" element="nodo:nodoInviaCarrelloRPT">
		</wsdl:part>
		<wsdl:part name="header" element="nodo:intestazioneCarrelloPPT">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaCarrelloRPTResponse">
		<wsdl:part name="bodyrisposta" element="nodo:nodoInviaCarrelloRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoChiediListaPendentiRPT">
		<wsdl:part name="bodyrichiesta" element="nodo:nodoChiediListaPendentiRPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediListaPendentiRPTResponse">
		<wsdl:part name="bodyrisposta" element="nodo:nodoChiediListaPendentiRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoChiediInformativaPSP">
		<wsdl:part name="bodyrichiesta" element="nodo:nodoChiediInformativaPSP" />
	</wsdl:message>

	<wsdl:message name="nodoChiediInformativaPSPResponse">
		<wsdl:part name="bodyrisposta" element="nodo:nodoChiediInformativaPSPRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoPAChiediInformativaPA">
		<wsdl:part name="bodyrichiesta" element="nodo:nodoPAChiediInformativaPA">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoPAChiediInformativaPAResponse">
		<wsdl:part name="bodyrisposta" element="nodo:nodoPAChiediInformativaPARisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoChiediElencoQuadraturePA">
		<wsdl:part name="bodyrichiesta" element="nodo:nodoChiediElencoQuadraturePA" />
	</wsdl:message>
	<wsdl:message name="nodoChiediElencoQuadraturePAResponse">
		<wsdl:part name="bodyrisposta" element="nodo:nodoChiediElencoQuadraturePARisposta" />
	</wsdl:message>

	<wsdl:message name="nodoChiediQuadraturaPA">
		<wsdl:part name="parameters" element="nodo:nodoChiediQuadraturaPA" />
	</wsdl:message>
	<wsdl:message name="nodoChiediQuadraturaPAResponse">
		<wsdl:part name="parameters" element="nodo:nodoChiediQuadraturaPARisposta" />
	</wsdl:message>

	<wsdl:message name="nodoChiediElencoFlussiRendicontazione">
		<wsdl:part name="parameters" element="nodo:nodoChiediElencoFlussiRendicontazione" />
	</wsdl:message>
	<wsdl:message name="nodoChiediElencoFlussiRendicontazioneResponse">
		<wsdl:part name="parameters" element="nodo:nodoChiediElencoFlussiRendicontazioneRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoChiediFlussoRendicontazione">
		<wsdl:part name="parameters" element="nodo:nodoChiediFlussoRendicontazione" />
	</wsdl:message>
	<wsdl:message name="nodoChiediFlussoRendicontazioneResponse">
		<wsdl:part name="parameters" element="nodo:nodoChiediFlussoRendicontazioneRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoInviaRichiestaStorno">
		<wsdl:part name="parameters" element="nodo:nodoInviaRichiestaStorno" />
	</wsdl:message>
	<wsdl:message name="nodoInviaRichiestaStornoResponse">
		<wsdl:part name="parameters" element="nodo:nodoInviaRichiestaStornoRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoInviaRispostaRevoca">
		<wsdl:part name="parameters" element="nodo:nodoInviaRispostaRevoca" />
	</wsdl:message>
	<wsdl:message name="nodoInviaRispostaRevocaResponse">
		<wsdl:part name="parameters" element="nodo:nodoInviaRispostaRevocaRisposta" />
	</wsdl:message>


	<wsdl:message name="nodoChiediSceltaWISP">
		<wsdl:part name="bodyrichiesta" element="nodo:nodoChiediSceltaWISP">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediSceltaWISPResponse">
		<wsdl:part name="bodyrisposta" element="nodo:nodoChiediSceltaWISPRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="PagamentiTelematiciRPT">
		<wsdl:operation name="nodoChiediStatoRPT">
			<wsdl:documentation> descrizione dell'operazione  </wsdl:documentation>
			<wsdl:input name="nodoChiediStatoRPT" message="tns:nodoChiediStatoRPT" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediStatoRPTRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediStatoRPTRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoChiediStatoRPTResponse" message="tns:nodoChiediStatoRPTResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediStatoRPTRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediStatoRPTRisposta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediListaPendentiRPT">
			<wsdl:input name="nodoChiediListaPendentiRPT" message="tns:nodoChiediListaPendentiRPT" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediListaPendentiRPT" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediListaPendentiRPTRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoChiediListaPendentiRPTResponse" message="tns:nodoChiediListaPendentiRPTResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediListaPendentiRPTRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediListaPendentiRPTRisposta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRPT">
			<wsdl:input name="nodoInviaRPT" message="tns:nodoInviaRPT" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRPTRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRPTRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoInviaRPTResponse" message="tns:nodoInviaRPTResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRPTRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRPTRisposta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaCarrelloRPT">
			<wsdl:input name="nodoInviaCarrelloRPT" message="tns:nodoInviaCarrelloRPT" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaCarrelloRPTRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaCarrelloRPTRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoInviaCarrelloRPTResponse" message="tns:nodoInviaCarrelloRPTResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaCarrelloRPTRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaCarrelloRPTRisposta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediCopiaRT">
			<wsdl:input name="nodoChiediCopiaRT" message="tns:nodoChiediCopiaRT" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediCopiaRTRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediCopiaRTRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoChiediCopiaRTResponse" message="tns:nodoChiediCopiaRTResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediCopiaRTRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediCopiaRTRisposta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediInformativaPSP">
			<wsdl:input name="nodoChiediInformativaPSP" message="tns:nodoChiediInformativaPSP" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediInformativaPSPRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediInformativaPSPRichiesta" />
			<wsdl:output name="nodoChiediInformativaPSPResponse" message="tns:nodoChiediInformativaPSPResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediInformativaPSPRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediInformativaPSPRisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoPAChiediInformativaPA">
			<wsdl:input name="nodoPAChiediInformativaPA" message="tns:nodoPAChiediInformativaPA" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoPAChiediInformativaPARichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoPAChiediInformativaPARichiesta" />
			<wsdl:output name="nodoPAChiediInformativaPAResponse" message="tns:nodoPAChiediInformativaPAResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoPAChiediInformativaPARisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoPAChiediInformativaPARisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoQuadraturePA">
			<wsdl:input name="nodoChiediElencoQuadraturePA" message="tns:nodoChiediElencoQuadraturePA" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoQuadraturePARichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoQuadraturePARichiesta" />
			<wsdl:output name="nodoChiediElencoQuadraturePAResponse" message="tns:nodoChiediElencoQuadraturePAResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoQuadraturePARisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoQuadraturePARisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediQuadraturaPA">
			<wsdl:input name="nodoChiediQuadraturaPA" message="tns:nodoChiediQuadraturaPA" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediQuadraturaPARichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediQuadraturaPARichiesta" />
			<wsdl:output name="nodoChiediQuadraturaPAResponse" message="tns:nodoChiediQuadraturaPAResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediQuadraturaPARisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediQuadraturaPARisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoFlussiRendicontazione">
			<wsdl:input name="nodoChiediElencoFlussiRendicontazione" message="tns:nodoChiediElencoFlussiRendicontazione" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoFlussiRendicontazioneRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoFlussiRendicontazioneRichiesta" />
			<wsdl:output name="nodoChiediElencoFlussiRendicontazioneResponse" message="tns:nodoChiediElencoFlussiRendicontazioneResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoFlussiRendicontazioneRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoFlussiRendicontazioneRisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediFlussoRendicontazione">
			<wsdl:input name="nodoChiediFlussoRendicontazione" message="tns:nodoChiediFlussoRendicontazione" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediFlussoRendicontazioneRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediFlussoRendicontazioneRichiesta" />
			<wsdl:output name="nodoChiediFlussoRendicontazioneResponse" message="tns:nodoChiediFlussoRendicontazioneResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediFlussoRendicontazioneRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediFlussoRendicontazioneRisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRichiestaStorno">
			<wsdl:input name="nodoInviaRichiestaStorno" message="tns:nodoInviaRichiestaStorno" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRichiestaStorno" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRichiestaStorno" />
			<wsdl:output name="nodoInviaRichiestaStornoResponse" message="tns:nodoInviaRichiestaStornoResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRichiestaStornoRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRichiestaStornoRisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRispostaRevoca">
			<wsdl:input name="nodoInviaRispostaRevoca" message="tns:nodoInviaRispostaRevoca" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRispostaRevoca" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRispostaRevoca" />
			<wsdl:output name="nodoInviaRispostaRevocaResponse" message="tns:nodoInviaRispostaRevocaResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRispostaRevocaRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRispostaRevocaRisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediSceltaWISP">
			<wsdl:input name="nodoChiediSceltaWISP" message="tns:nodoChiediSceltaWISP" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediSceltaWISPRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediSceltaWISPRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoChiediSceltaWISPResponse" message="tns:nodoChiediSceltaWISPResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediSceltaWISPRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediSceltaWISPRisposta">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PagamentiTelematiciRPTbinding" type="tns:PagamentiTelematiciRPT">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="nodoChiediStatoRPT">
			<wsdl:documentation>La primitiva restituisce lo stato di una specifica RPT e dei suoi pagamenti, consentendo all’applicazione dell'Ente Creditore di realizzare funzionalità di monitoraggio verso l’utilizzatore finale. Poiché la response contiene le informazioni di redirect allo stesso modo della primitiva nodoInviaRPT, questa primitiva consente di recuperare, se necessario, il caso in cui la response di una precedente nodoInviaRPT sia stata perduta.</wsdl:documentation>			
			<soap:operation soapAction="nodoChiediStatoRPT" style="document" />
			<wsdl:input name="nodoChiediStatoRPT">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediStatoRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="nodoChiediListaPendentiRPT">
			<wsdl:documentation>La primitiva restituisce una lista di attributi delle RPT positivamente inviate al PSP a cui non corrisponde la ricezione di una RT correlata. La lista restituisce l'elenco di tali transazioni al momento della richiesta effettuata da un singolo Ente Creditore. </wsdl:documentation>			
			<soap:operation soapAction="nodoChiediListaPendentiRPT" style="document" />
			<wsdl:input name="nodoChiediListaPendentiRPT">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediListaPendentiRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRPT">
			<wsdl:documentation>La primitiva sottomette al Nodo dei Pagamenti-SPC una (singola) RPT. La RPT è accettata, e quindi presa in carico dal sistema, oppure respinta con errore. Quando la transazione riguarda il processo di pagamento con esecuzione immediata, la response contiene lo URL di re-direzione per il pagamento online.</wsdl:documentation>
			<soap:operation soapAction="nodoInviaRPT" style="document" />
			<wsdl:input name="nodoInviaRPT">
				<soap:header message="tns:nodoInviaRPT" part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaCarrelloRPT">
			<wsdl:documentation>La primitiva è utilizzabile solo per gestire il workflow del modello di pagamento con esecuzione immediata e sottomette al Nodo dei Pagamenti-SPC un “carrello” costituito da una lista di RPT. La lista di RPT è accettata, e quindi presa in carico dal Nodo dei Pagamenti-SPC, oppure respinta per intero con errore.
				La response contiene l’URL di re-direzione per il pagamento online relativo all’intero “carrello”.
			</wsdl:documentation>
			<soap:operation soapAction="nodoInviaCarrelloRPT" style="document" />
			<wsdl:input name="nodoInviaCarrelloRPT">
				<soap:header message="tns:nodoInviaCarrelloRPT" part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaCarrelloRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediCopiaRT">
			<wsdl:documentation>Con questa primitiva gli Enti Creditori possono richiedere la copia di una ricevuta telematica precedentemente inviata dal Nodo dei Pagamenti-SPC all'ente stesso.</wsdl:documentation>
			<soap:operation soapAction="nodoChiediCopiaRT" style="document" />
			<wsdl:input name="nodoChiediCopiaRT">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediCopiaRTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediInformativaPSP">
			<wsdl:documentation>--DEPRECATA-- tramite questa primitiva l'EC richiede la visione del catalogo dei informativi </wsdl:documentation>
			<soap:operation soapAction="nodoChiediInformativaPSP" style="document" />
			<wsdl:input name="nodoChiediInformativaPSP">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediInformativaPSPResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoPAChiediInformativaPA">  <!-- NON PRESENTE NELLE SANP-->
			<soap:operation soapAction="nodoPAChiediInformativaPA" style="document" />
			<wsdl:input name="nodoPAChiediInformativaPA">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoPAChiediInformativaPAResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoQuadraturePA"> 
			<wsdl:documentation>-- DEPRECATA -- l’Ente Creditore richiede al NodoSPC l’elenco dei flussi contenenti i "Totali di Traffico" di sua competenza memorizzati presso la piattaforma. </wsdl:documentation>
			<soap:operation soapAction="nodoChiediElencoQuadraturePA" style="document" />
			<wsdl:input name="nodoChiediElencoQuadraturePA">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediElencoQuadraturePAResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediQuadraturaPA">
			<wsdl:documentation>--DEPRECATA--</wsdl:documentation>
			<soap:operation soapAction="nodoChiediQuadraturaPA" style="document" />
			<wsdl:input name="nodoChiediQuadraturaPA">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediQuadraturaPAResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoFlussiRendicontazione">
			<wsdl:documentation>Con questa primitiva l’Ente Creditore richiede al NodoSPC l’elenco dei flussi di rendicontazione di sua competenza memorizzati presso la piattaforma.</wsdl:documentation>
			<soap:operation soapAction="nodoChiediElencoFlussiRendicontazione" style="document" />
			<wsdl:input name="nodoChiediElencoFlussiRendicontazione">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediElencoFlussiRendicontazioneResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediFlussoRendicontazione">
		<wsdl:documentation>Con questa primitiva l’Ente Creditore richiede al NodoSPC un file XML relativo ad uno specifico flusso di rendicontazione relativo ad un PSP; Il flusso deve essere presente nell'elenco scaricato con la primitiva nodoChiediElencoFlussiRendicontazione.</wsdl:documentation>			
			<soap:operation soapAction="nodoChiediFlussoRendicontazione" style="document" />
			<wsdl:input name="nodoChiediFlussoRendicontazione">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediFlussoRendicontazioneResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRichiestaStorno">
			<soap:operation soapAction="nodoInviaRichiestaStorno" style="document" />
			<wsdl:input name="nodoInviaRichiestaStorno">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaRichiestaStornoResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRispostaRevoca">
			<soap:operation soapAction="nodoInviaRispostaRevoca" style="document" />
			<wsdl:input name="nodoInviaRispostaRevoca">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaRispostaRevocaResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediSceltaWISP">
			<wsdl:documentation>primitiva per l'utilizzo del servizio WISP 2.0 in modalità EMULATA.
			</wsdl:documentation>
			<soap:operation soapAction="nodoChiediSceltaWISP" style="document" />
			<wsdl:input name="nodoChiediSceltaWISP">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediSceltaWISPResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PagamentiTelematiciRPTservice">
		<wsdl:port name="PagamentiTelematiciRPTPort" binding="tns:PagamentiTelematiciRPTbinding">
			<soap:address location="http://NodoPagamentiSPC.spcoop.gov.it/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
