res/ec/wsdl/NodoPerPa2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  
   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ws="http://www.example.com/webservice"
    
    xmlns:pay="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/"
    xmlns:ppt="http:///www.agid.gov.it/schemas/pagoPa/ppthead"
    xmlns:nodo ="http://www.agid.gov.it/schemas/pagoPa/nodo"
    xmlns:tns="http://www.agid.gov.it/services/pagoPa/nodo"
        targetNamespace="http://www.agid.gov.it/services/pagoPa/nodo"
    
    >
    
    
     
    <wsdl:types >
    	<xs:schema targetNamespace="http:///www.agid.gov.it/schemas/pagoPa/ppthead"  >
    		<xs:import namespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/" schemaLocation="../../common/pagoPa_complexTypes.xsd" />
    		<xs:import schemaLocation="http://schemas.xmlsoap.org/soap/envelope/" namespace="http://schemas.xmlsoap.org/soap/envelope/" />
    		<xs:import namespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/" schemaLocation="../../common/pagoPa_complexTypes.xsd" />
    		<xs:import namespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/" schemaLocation="../../common/pagoPa_simpleTypes.xsd" />
           
           
           <xs:element name="intestazionePPT" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
               <xs:complexType>
                   <xs:sequence>
                       <xs:element name="identificativoIntermediarioPA" type="pay:stText35" />
                       <xs:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
                       <xs:element name="identificativoDominio" type="pay:stText35" />
                       <xs:element name="identificativoUnivocoVersamento" type="pay:stText35" />
                       <xs:element name="codiceContestoPagamento" type="pay:stText35" />
                   </xs:sequence>
                   <xs:attribute ref="soapenv:actor" use="optional" />
                   <xs:attribute ref="soapenv:mustUnderstand" use="optional" />
               </xs:complexType>
           </xs:element>
           <xs:element name="intestazioneCarrelloPPT" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
               <xs:complexType>
                   <xs:sequence>
                       <xs:element name="identificativoIntermediarioPA" type="pay:stText35" />
                       <xs:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
                       <xs:element name="identificativoCarrello" type="pay:stText35" />
                   </xs:sequence>
                   <xs:attribute ref="soapenv:actor" use="optional" />
                   <xs:attribute ref="soapenv:mustUnderstand" use="optional" />
               </xs:complexType>
           </xs:element>
           
       </xs:schema>

    	<xs:schema  targetNamespace="http://www.agid.gov.it/services/pagoPa/nodo"  >
            <xs:import namespace="http://www.agid.gov.it/schemas/pagoPa/nodo" schemaLocation="../xsd/nodoPerPa.xsd" />
    		<xs:import namespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/" schemaLocation="../../common/pagoPa_complexTypes.xsd"/>
    		<xs:import namespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/" schemaLocation="../../common/pagoPa_simpleTypes.xsd" />
    		
            
            <xs:element name="nodoChiediCopiaRTRisposta" type="nodo:ctNodoChiediCopiaRTRisposta"  />
            <xs:element name="nodoChiediCopiaRT" type="nodo:ctNodoChiediCopiaRT" />
            
            <xs:element name="nodoInviaRichiestaStorno" type="nodo:ctNodoInviaRichiestaStorno" />
            <xs:element name="nodoInviaRichiestaStornoRisposta" type="nodo:ctNodoInviaRichiestaStornoRisposta" />
            
            <xs:element name="nodoInviaRispostaRevoca" type="nodo:ctNodoInviaRispostaRevoca" />
            <xs:element name="nodoInviaRispostaRevocaRisposta" type="nodo:ctNodoInviaRispostaRevocaRisposta" />
            
            <xs:element name="nodoChiediListaPendentiRPT" type="nodo:ctNodoChiediListaPendentiRPT" />
            <xs:element name="nodoChiediListaPendentiRPTRisposta" type="nodo:ctNodoChiediListaPendentiRPTRisposta" />
            
            <xs:element name="nodoChiediStatoRPT" type="nodo:ctNodoChiediStatoRPT" />
            <xs:element name="nodoChiediStatoRPTRisposta" type="nodo:ctNodoChiediStatoRPTRisposta" />
            
            <xs:element name="nodoInviaRPT" type="nodo:ctNodoInviaRPT" />
            <xs:element name="nodoInviaRPTRisposta" type="nodo:ctNodoInviaRPTRisposta" />
            
            <xs:element name="nodoInviaCarrelloRPT" type="nodo:ctNodoInviaCarrelloRPT" />
            <xs:element name="nodoInviaCarrelloRPTRisposta" type="nodo:ctNodoInviaCarrelloRPTRisposta" />
            
            <xs:element name="nodoChiediInformativaPSP" type="nodo:ctNodoChiediInformativaPSP" />
            <xs:element name="nodoChiediInformativaPSPRisposta" type="nodo:ctNodoChiediInformativaPSPRisposta" />
            
            <xs:element name="nodoPAChiediInformativaPA" type="nodo:ctNodoPAChiediInformativaPA" />
            <xs:element name="nodoPAChiediInformativaPARisposta" type="nodo:ctNodoPAChiediInformativaPARisposta" />
            
            <xs:element name="nodoChiediElencoQuadraturePA" type="nodo:ctNodoChiediElencoQuadraturePA" />
            <xs:element name="nodoChiediElencoQuadraturePARisposta" type="nodo:ctNodoChiediElencoQuadraturePARisposta" />
            
            <xs:element name="nodoChiediQuadraturaPA" type="nodo:ctNodoChiediQuadraturaPA" />
            <xs:element name="nodoChiediQuadraturaPARisposta" type="nodo:ctNodoChiediElencoQuadraturePARisposta" />
            
            <xs:element name="nodoChiediElencoFlussiRendicontazione" type="nodo:ctNodoChiediElencoFlussiRendicontazione" />
            <xs:element name="nodoChiediElencoFlussiRendicontazioneRisposta" type="nodo:ctNodoChiediElencoFlussiRendicontazioneRisposta" />
            
            <xs:element name="nodoChiediFlussoRendicontazione" type="nodo:ctNodoChiediFlussoRendicontazione" />
            <xs:element name="nodoChiediFlussoRendicontazioneRisposta" type="nodo:ctNodoChiediFlussoRendicontazioneRisposta" />
            
            <xs:element name="nodoChiediSceltaWISP" type="nodo:ctNodoChiediSceltaWISP" />
            <xs:element name="nodoChiediSceltaWISPRisposta" type="nodo:ctNodoChiediSceltaWISPRisposta" />
  
        </xs:schema>
     </wsdl:types>
    
    
    <wsdl:message name="nodoChiediStatoRPT">
		<wsdl:part name="bodyrichiesta" element="tns:nodoChiediStatoRPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediStatoRPTResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoChiediStatoRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoChiediCopiaRT">
		<wsdl:part name="bodyrichiesta" element="tns:nodoChiediCopiaRT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediCopiaRTResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoChiediCopiaRTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaRPT">
		<wsdl:part name="bodyrichiesta" element="tns:nodoInviaRPT">
		</wsdl:part>
		<wsdl:part name="header" element="ppt:intestazionePPT">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaRPTResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoInviaRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaCarrelloRPT">
		<wsdl:part name="bodyrichiesta" element="tns:nodoInviaCarrelloRPT">
		</wsdl:part>
		<wsdl:part name="header" element="ppt:intestazioneCarrelloPPT">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaCarrelloRPTResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoInviaCarrelloRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoChiediListaPendentiRPT">
		<wsdl:part name="bodyrichiesta" element="tns:nodoChiediListaPendentiRPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediListaPendentiRPTResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoChiediListaPendentiRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoChiediInformativaPSP">
		<wsdl:part name="bodyrichiesta" element="tns:nodoChiediInformativaPSP" />
	</wsdl:message>

	<wsdl:message name="nodoChiediInformativaPSPResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoChiediInformativaPSPRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoPAChiediInformativaPA">
		<wsdl:part name="bodyrichiesta" element="tns:nodoPAChiediInformativaPA">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoPAChiediInformativaPAResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoPAChiediInformativaPARisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoChiediElencoQuadraturePA">
		<wsdl:part name="bodyrichiesta" element="tns:nodoChiediElencoQuadraturePA" />
	</wsdl:message>
	<wsdl:message name="nodoChiediElencoQuadraturePAResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoChiediElencoQuadraturePARisposta" />
	</wsdl:message>

	<wsdl:message name="nodoChiediQuadraturaPA">
		<wsdl:part name="parameters" element="tns:nodoChiediQuadraturaPA" />
	</wsdl:message>
	<wsdl:message name="nodoChiediQuadraturaPAResponse">
		<wsdl:part name="parameters" element="tns:nodoChiediQuadraturaPARisposta" />
	</wsdl:message>

	<wsdl:message name="nodoChiediElencoFlussiRendicontazione">
		<wsdl:part name="parameters" element="tns:nodoChiediElencoFlussiRendicontazione" />
	</wsdl:message>
	<wsdl:message name="nodoChiediElencoFlussiRendicontazioneResponse">
		<wsdl:part name="parameters" element="tns:nodoChiediElencoFlussiRendicontazioneRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoChiediFlussoRendicontazione">
		<wsdl:part name="parameters" element="tns:nodoChiediFlussoRendicontazione" />
	</wsdl:message>
	<wsdl:message name="nodoChiediFlussoRendicontazioneResponse">
		<wsdl:part name="parameters" element="tns:nodoChiediFlussoRendicontazioneRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoInviaRichiestaStorno">
		<wsdl:part name="parameters" element="tns:nodoInviaRichiestaStorno" />
	</wsdl:message>
	<wsdl:message name="nodoInviaRichiestaStornoResponse">
		<wsdl:part name="parameters" element="tns:nodoInviaRichiestaStornoRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoInviaRispostaRevoca">
		<wsdl:part name="parameters" element="tns:nodoInviaRispostaRevoca" />
	</wsdl:message>
	<wsdl:message name="nodoInviaRispostaRevocaResponse">
		<wsdl:part name="parameters" element="tns:nodoInviaRispostaRevocaRisposta" />
	</wsdl:message>


	<wsdl:message name="nodoChiediSceltaWISP">
		<wsdl:part name="bodyrichiesta" element="tns:nodoChiediSceltaWISP">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediSceltaWISPResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoChiediSceltaWISPRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="PagamentiTelematiciRPT">
	    <wsdl:operation name="nodoChiediStatoRPT">
			<wsdl:input name="nodoChiediStatoRPT" message="tns:nodoChiediStatoRPT" />
			
			<wsdl:output name="nodoChiediStatoRPTResponse" message="tns:nodoChiediStatoRPTResponse" />
			
		</wsdl:operation>
		<wsdl:operation name="nodoChiediListaPendentiRPT">
			<wsdl:input name="nodoChiediListaPendentiRPT" message="tns:nodoChiediListaPendentiRPT" />
			
			<wsdl:output name="nodoChiediListaPendentiRPTResponse" message="tns:nodoChiediListaPendentiRPTResponse" />
			
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRPT">
			<wsdl:input name="nodoInviaRPT" message="tns:nodoInviaRPT" >
			</wsdl:input>
			<wsdl:output name="nodoInviaRPTResponse" message="tns:nodoInviaRPTResponse" />
			
		</wsdl:operation>
		<wsdl:operation name="nodoInviaCarrelloRPT">
			<wsdl:input name="nodoInviaCarrelloRPT" message="tns:nodoInviaCarrelloRPT" />
			
			<wsdl:output name="nodoInviaCarrelloRPTResponse" message="tns:nodoInviaCarrelloRPTResponse" />
			
		</wsdl:operation>
		<wsdl:operation name="nodoChiediCopiaRT">
			<wsdl:input name="nodoChiediCopiaRT" message="tns:nodoChiediCopiaRT"  />
			
			<wsdl:output name="nodoChiediCopiaRTResponse" message="tns:nodoChiediCopiaRTResponse" >
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediInformativaPSP">
			<wsdl:input name="nodoChiediInformativaPSP" message="tns:nodoChiediInformativaPSP" />
			<wsdl:output name="nodoChiediInformativaPSPResponse" message="tns:nodoChiediInformativaPSPResponse"  />
		</wsdl:operation>
		<wsdl:operation name="nodoPAChiediInformativaPA">
			<wsdl:input name="nodoPAChiediInformativaPA" message="tns:nodoPAChiediInformativaPA"  />
			<wsdl:output name="nodoPAChiediInformativaPAResponse" message="tns:nodoPAChiediInformativaPAResponse"  />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoQuadraturePA">
			<wsdl:input name="nodoChiediElencoQuadraturePA" message="tns:nodoChiediElencoQuadraturePA"  />
			<wsdl:output name="nodoChiediElencoQuadraturePAResponse" message="tns:nodoChiediElencoQuadraturePAResponse"  />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediQuadraturaPA">
			<wsdl:input name="nodoChiediQuadraturaPA" message="tns:nodoChiediQuadraturaPA"  />
			<wsdl:output name="nodoChiediQuadraturaPAResponse" message="tns:nodoChiediQuadraturaPAResponse"  />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoFlussiRendicontazione">
			<wsdl:input name="nodoChiediElencoFlussiRendicontazione" message="tns:nodoChiediElencoFlussiRendicontazione" />
			<wsdl:output name="nodoChiediElencoFlussiRendicontazioneResponse" message="tns:nodoChiediElencoFlussiRendicontazioneResponse"  />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediFlussoRendicontazione">
			<wsdl:input name="nodoChiediFlussoRendicontazione" message="tns:nodoChiediFlussoRendicontazione"  />
			<wsdl:output name="nodoChiediFlussoRendicontazioneResponse" message="tns:nodoChiediFlussoRendicontazioneResponse"  />
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRichiestaStorno">
			<wsdl:input name="nodoInviaRichiestaStorno" message="tns:nodoInviaRichiestaStorno"  />
			<wsdl:output name="nodoInviaRichiestaStornoResponse" message="tns:nodoInviaRichiestaStornoResponse"  />
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRispostaRevoca">
			<wsdl:input name="nodoInviaRispostaRevoca" message="tns:nodoInviaRispostaRevoca"  />
			<wsdl:output name="nodoInviaRispostaRevocaResponse" message="tns:nodoInviaRispostaRevocaResponse"  />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediSceltaWISP">
			<wsdl:input name="nodoChiediSceltaWISP" message="tns:nodoChiediSceltaWISP" />
			
			<wsdl:output name="nodoChiediSceltaWISPResponse" message="tns:nodoChiediSceltaWISPResponse" />
			
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PagamentiTelematiciRPTbinding" type="tns:PagamentiTelematiciRPT">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="nodoChiediStatoRPT">
			<soap:operation soapAction="nodoChiediStatoRPT" style="document" />
			<wsdl:input name="nodoChiediStatoRPT">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediStatoRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="nodoChiediListaPendentiRPT">
			<soap:operation soapAction="nodoChiediListaPendentiRPT" style="document" />
			<wsdl:input name="nodoChiediListaPendentiRPT">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediListaPendentiRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRPT">
			<soap:operation soapAction="nodoInviaRPT" style="document" />
			<wsdl:input name="nodoInviaRPT">
				<soap:header message="tns:nodoInviaRPT" part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaCarrelloRPT">
			<soap:operation soapAction="nodoInviaCarrelloRPT" style="document" />
			<wsdl:input name="nodoInviaCarrelloRPT">
				<soap:header message="tns:nodoInviaCarrelloRPT" part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaCarrelloRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediCopiaRT">
			<soap:operation soapAction="nodoChiediCopiaRT" style="document" />
			<wsdl:input name="nodoChiediCopiaRT">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediCopiaRTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediInformativaPSP">
			<soap:operation soapAction="nodoChiediInformativaPSP" style="document" />
			<wsdl:input name="nodoChiediInformativaPSP">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediInformativaPSPResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoPAChiediInformativaPA">
			<soap:operation soapAction="nodoPAChiediInformativaPA" style="document" />
			<wsdl:input name="nodoPAChiediInformativaPA">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoPAChiediInformativaPAResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoQuadraturePA">
			<soap:operation soapAction="nodoChiediElencoQuadraturePA" style="document" />
			<wsdl:input name="nodoChiediElencoQuadraturePA">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediElencoQuadraturePAResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediQuadraturaPA">
			<soap:operation soapAction="nodoChiediQuadraturaPA" style="document" />
			<wsdl:input name="nodoChiediQuadraturaPA">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediQuadraturaPAResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoFlussiRendicontazione">
			<soap:operation soapAction="nodoChiediElencoFlussiRendicontazione" style="document" />
			<wsdl:input name="nodoChiediElencoFlussiRendicontazione">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediElencoFlussiRendicontazioneResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediFlussoRendicontazione">
			<soap:operation soapAction="nodoChiediFlussoRendicontazione" style="document" />
			<wsdl:input name="nodoChiediFlussoRendicontazione">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediFlussoRendicontazioneResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRichiestaStorno">
			<soap:operation soapAction="nodoInviaRichiestaStorno" style="document" />
			<wsdl:input name="nodoInviaRichiestaStorno">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaRichiestaStornoResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRispostaRevoca">
			<soap:operation soapAction="nodoInviaRispostaRevoca" style="document" />
			<wsdl:input name="nodoInviaRispostaRevoca">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaRispostaRevocaResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediSceltaWISP">
			<soap:operation soapAction="nodoChiediSceltaWISP" style="document" />
			<wsdl:input name="nodoChiediSceltaWISP">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediSceltaWISPResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PagamentiTelematiciRPTservice">
		<wsdl:port name="PagamentiTelematiciRPTPort" binding="tns:PagamentiTelematiciRPTbinding">
			<soap:address location="http://NodoPagamentiSPC.spcoop.gov.it/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>