res/ec/wsdl/NodoPerPa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Questo WSDL rappresenta l'interfaccia esposta dal Nodo dei Pagamenti
  verso l'EC per la gestione dei pagamenti.
  Versione 6.2.0 di RPT/RT.
  Renaming delle primitive.
-->
<wsdl:definitions

        xmlns:ppt="http:///www.agid.gov.it/schemas/pagoPa/ppthead"
        xmlns:nodo ="http://www.agid.gov.it/schemas/pagoPa/nodo"
        xmlns:tns="http://www.agid.gov.it/services/pagoPa/nodo"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        name="PagamentiTelematiciRPTservice"
        targetNamespace="http://www.agid.gov.it/services/pagoPa/nodo"
   
        xmlns:pay="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/"
>
	<wsdl:types>
		<xsd:schema version="2.1.2" targetNamespace="http:///www.agid.gov.it/schemas/pagoPa/ppthead">
			<xsd:import schemaLocation="http://schemas.xmlsoap.org/soap/envelope/" namespace="http://schemas.xmlsoap.org/soap/envelope/" />
			<xsd:import namespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/" schemaLocation="../../common/pagoPa_complexTypes.xsd"/>
			<xsd:import namespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/" schemaLocation="../../common/pagoPa_simpleTypes.xsd" />
			
			
			<xsd:element name="intestazionePPT" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
						<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
						<xsd:element name="identificativoDominio" type="pay:stText35" />
						<xsd:element name="identificativoUnivocoVersamento" type="pay:stText35" />
						<xsd:element name="codiceContestoPagamento" type="pay:stText35" />
					</xsd:sequence>
					<xsd:attribute ref="soapenv:actor" use="optional" />
					<xsd:attribute ref="soapenv:mustUnderstand" use="optional" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="intestazioneCarrelloPPT" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="identificativoIntermediarioPA" type="pay:stText35" />
						<xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35" />
						<xsd:element name="identificativoCarrello" type="pay:stText35" />
					</xsd:sequence>
					<xsd:attribute ref="soapenv:actor" use="optional" />
					<xsd:attribute ref="soapenv:mustUnderstand" use="optional" />
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		
		<xsd:schema  targetNamespace="http://www.agid.gov.it/services/pagoPa/nodo"  version="1.1">
			<xsd:import namespace="http://www.agid.gov.it/schemas/pagoPa/nodo" schemaLocation="../xsd/nodoPerPa.xsd" />
			
				
			<xsd:element name="nodoChiediCopiaRTRisposta" type="nodo:ctNodoChiediCopiaRTRisposta"  />
			<xsd:element name="nodoChiediCopiaRT" type="nodo:ctNodoChiediCopiaRT" />
			
			<xsd:element name="nodoInviaRichiestaStorno" type="nodo:ctNodoInviaRichiestaStorno" />
			<xsd:element name="nodoInviaRichiestaStornoRisposta" type="nodo:ctNodoInviaRichiestaStornoRisposta" />

			<xsd:element name="nodoInviaRispostaRevoca" type="nodo:ctNodoInviaRispostaRevoca" />
			<xsd:element name="nodoInviaRispostaRevocaRisposta" type="nodo:ctNodoInviaRispostaRevocaRisposta" />

			<xsd:element name="nodoChiediListaPendentiRPT" type="nodo:ctNodoChiediListaPendentiRPT" />
			<xsd:element name="nodoChiediListaPendentiRPTRisposta" type="nodo:ctNodoChiediListaPendentiRPTRisposta" />

			<xsd:element name="nodoChiediStatoRPT" type="nodo:ctNodoChiediStatoRPT" >
				<xsd:annotation>
					<xsd:documentation> La primitiva restituisce lo stato di una specifica RPT e dei suoi pagamenti, consentendo all’applicazione dell'Ente Creditore di realizzare funzionalità di monitoraggio verso l’utilizzatore finale. Poiché la response contiene le informazioni di redirect allo stesso modo della primitiva nodoInviaRPT, questa primitiva consente di recuperare, se necessario, il caso in cui la response di una precedente nodoInviaRPT sia stata perduta.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nodoChiediStatoRPTRisposta" type="nodo:ctNodoChiediStatoRPTRisposta" />

			<xsd:element name="nodoInviaRPT" type="nodo:ctNodoInviaRPT" />
			<xsd:element name="nodoInviaRPTRisposta" type="nodo:ctNodoInviaRPTRisposta" />

			<xsd:element name="nodoInviaCarrelloRPT" type="nodo:ctNodoInviaCarrelloRPT" />
			<xsd:element name="nodoInviaCarrelloRPTRisposta" type="nodo:ctNodoInviaCarrelloRPTRisposta" />

			<xsd:element name="nodoChiediInformativaPSP" type="nodo:ctNodoChiediInformativaPSP" />
			<xsd:element name="nodoChiediInformativaPSPRisposta" type="nodo:ctNodoChiediInformativaPSPRisposta" />

			<xsd:element name="nodoPAChiediInformativaPA" type="nodo:ctNodoPAChiediInformativaPA" />
			<xsd:element name="nodoPAChiediInformativaPARisposta" type="nodo:ctNodoPAChiediInformativaPARisposta" />

        	<xsd:element name="nodoChiediElencoQuadraturePA" type="nodo:ctNodoChiediElencoQuadraturePA" />
        	<xsd:element name="nodoChiediElencoQuadraturePARisposta" type="nodo:ctNodoChiediElencoQuadraturePARisposta" />

        	<xsd:element name="nodoChiediQuadraturaPA" type="nodo:ctNodoChiediQuadraturaPA" />
        	<xsd:element name="nodoChiediQuadraturaPARisposta" type="nodo:ctNodoChiediElencoQuadraturePARisposta" />

        	<xsd:element name="nodoChiediElencoFlussiRendicontazione" type="nodo:ctNodoChiediElencoFlussiRendicontazione" />
        	<xsd:element name="nodoChiediElencoFlussiRendicontazioneRisposta" type="nodo:ctNodoChiediElencoFlussiRendicontazioneRisposta" />

        	<xsd:element name="nodoChiediFlussoRendicontazione" type="nodo:ctNodoChiediFlussoRendicontazione" />
        	<xsd:element name="nodoChiediFlussoRendicontazioneRisposta" type="nodo:ctNodoChiediFlussoRendicontazioneRisposta" />

    		<xsd:element name="nodoChiediSceltaWISP" type="nodo:ctNodoChiediSceltaWISP" />
			<xsd:element name="nodoChiediSceltaWISPRisposta" type="nodo:ctNodoChiediSceltaWISPRisposta" />

		</xsd:schema>
    </wsdl:types>
	<wsdl:message name="nodoChiediStatoRPT">
		<wsdl:part name="bodyrichiesta" element="tns:nodoChiediStatoRPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediStatoRPTResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoChiediStatoRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoChiediCopiaRT">
		<wsdl:part name="bodyrichiesta" element="tns:nodoChiediCopiaRT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediCopiaRTResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoChiediCopiaRTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaRPT">
		<wsdl:part name="bodyrichiesta" element="tns:nodoInviaRPT">
		</wsdl:part>
		<wsdl:part name="header" element="ppt:intestazionePPT">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaRPTResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoInviaRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaCarrelloRPT">
		<wsdl:part name="bodyrichiesta" element="tns:nodoInviaCarrelloRPT">
		</wsdl:part>
		<wsdl:part name="header" element="ppt:intestazioneCarrelloPPT">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoInviaCarrelloRPTResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoInviaCarrelloRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoChiediListaPendentiRPT">
		<wsdl:part name="bodyrichiesta" element="tns:nodoChiediListaPendentiRPT">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediListaPendentiRPTResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoChiediListaPendentiRPTRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoChiediInformativaPSP">
		<wsdl:part name="bodyrichiesta" element="tns:nodoChiediInformativaPSP" />
	</wsdl:message>

	<wsdl:message name="nodoChiediInformativaPSPResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoChiediInformativaPSPRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoPAChiediInformativaPA">
		<wsdl:part name="bodyrichiesta" element="tns:nodoPAChiediInformativaPA">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoPAChiediInformativaPAResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoPAChiediInformativaPARisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="nodoChiediElencoQuadraturePA">
		<wsdl:part name="bodyrichiesta" element="tns:nodoChiediElencoQuadraturePA" />
	</wsdl:message>
	<wsdl:message name="nodoChiediElencoQuadraturePAResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoChiediElencoQuadraturePARisposta" />
	</wsdl:message>

	<wsdl:message name="nodoChiediQuadraturaPA">
		<wsdl:part name="parameters" element="tns:nodoChiediQuadraturaPA" />
	</wsdl:message>
	<wsdl:message name="nodoChiediQuadraturaPAResponse">
		<wsdl:part name="parameters" element="tns:nodoChiediQuadraturaPARisposta" />
	</wsdl:message>

	<wsdl:message name="nodoChiediElencoFlussiRendicontazione">
		<wsdl:part name="parameters" element="tns:nodoChiediElencoFlussiRendicontazione" />
	</wsdl:message>
	<wsdl:message name="nodoChiediElencoFlussiRendicontazioneResponse">
		<wsdl:part name="parameters" element="tns:nodoChiediElencoFlussiRendicontazioneRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoChiediFlussoRendicontazione">
		<wsdl:part name="parameters" element="tns:nodoChiediFlussoRendicontazione" />
	</wsdl:message>
	<wsdl:message name="nodoChiediFlussoRendicontazioneResponse">
		<wsdl:part name="parameters" element="tns:nodoChiediFlussoRendicontazioneRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoInviaRichiestaStorno">
		<wsdl:part name="parameters" element="tns:nodoInviaRichiestaStorno" />
	</wsdl:message>
	<wsdl:message name="nodoInviaRichiestaStornoResponse">
		<wsdl:part name="parameters" element="tns:nodoInviaRichiestaStornoRisposta" />
	</wsdl:message>

	<wsdl:message name="nodoInviaRispostaRevoca">
		<wsdl:part name="parameters" element="tns:nodoInviaRispostaRevoca" />
	</wsdl:message>
	<wsdl:message name="nodoInviaRispostaRevocaResponse">
		<wsdl:part name="parameters" element="tns:nodoInviaRispostaRevocaRisposta" />
	</wsdl:message>


	<wsdl:message name="nodoChiediSceltaWISP">
		<wsdl:part name="bodyrichiesta" element="tns:nodoChiediSceltaWISP">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="nodoChiediSceltaWISPResponse">
		<wsdl:part name="bodyrisposta" element="tns:nodoChiediSceltaWISPRisposta">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="PagamentiTelematiciRPT">
		<wsdl:operation name="nodoChiediStatoRPT">
			<wsdl:documentation> descrizione dell'operazione  </wsdl:documentation>
			<wsdl:input name="nodoChiediStatoRPT" message="tns:nodoChiediStatoRPT" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediStatoRPTRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediStatoRPTRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoChiediStatoRPTResponse" message="tns:nodoChiediStatoRPTResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediStatoRPTRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediStatoRPTRisposta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediListaPendentiRPT">
			<wsdl:input name="nodoChiediListaPendentiRPT" message="tns:nodoChiediListaPendentiRPT" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediListaPendentiRPT" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediListaPendentiRPTRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoChiediListaPendentiRPTResponse" message="tns:nodoChiediListaPendentiRPTResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediListaPendentiRPTRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediListaPendentiRPTRisposta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRPT">
			<wsdl:input name="nodoInviaRPT" message="tns:nodoInviaRPT" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRPTRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRPTRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoInviaRPTResponse" message="tns:nodoInviaRPTResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRPTRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRPTRisposta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaCarrelloRPT">
			<wsdl:input name="nodoInviaCarrelloRPT" message="tns:nodoInviaCarrelloRPT" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaCarrelloRPTRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaCarrelloRPTRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoInviaCarrelloRPTResponse" message="tns:nodoInviaCarrelloRPTResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaCarrelloRPTRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaCarrelloRPTRisposta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediCopiaRT">
			<wsdl:input name="nodoChiediCopiaRT" message="tns:nodoChiediCopiaRT" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediCopiaRTRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediCopiaRTRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoChiediCopiaRTResponse" message="tns:nodoChiediCopiaRTResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediCopiaRTRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediCopiaRTRisposta">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediInformativaPSP">
			<wsdl:input name="nodoChiediInformativaPSP" message="tns:nodoChiediInformativaPSP" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediInformativaPSPRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediInformativaPSPRichiesta" />
			<wsdl:output name="nodoChiediInformativaPSPResponse" message="tns:nodoChiediInformativaPSPResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediInformativaPSPRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediInformativaPSPRisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoPAChiediInformativaPA">
			<wsdl:input name="nodoPAChiediInformativaPA" message="tns:nodoPAChiediInformativaPA" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoPAChiediInformativaPARichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoPAChiediInformativaPARichiesta" />
			<wsdl:output name="nodoPAChiediInformativaPAResponse" message="tns:nodoPAChiediInformativaPAResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoPAChiediInformativaPARisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoPAChiediInformativaPARisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoQuadraturePA">
			<wsdl:input name="nodoChiediElencoQuadraturePA" message="tns:nodoChiediElencoQuadraturePA" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoQuadraturePARichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoQuadraturePARichiesta" />
			<wsdl:output name="nodoChiediElencoQuadraturePAResponse" message="tns:nodoChiediElencoQuadraturePAResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoQuadraturePARisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoQuadraturePARisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediQuadraturaPA">
			<wsdl:input name="nodoChiediQuadraturaPA" message="tns:nodoChiediQuadraturaPA" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediQuadraturaPARichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediQuadraturaPARichiesta" />
			<wsdl:output name="nodoChiediQuadraturaPAResponse" message="tns:nodoChiediQuadraturaPAResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediQuadraturaPARisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediQuadraturaPARisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoFlussiRendicontazione">
			<wsdl:input name="nodoChiediElencoFlussiRendicontazione" message="tns:nodoChiediElencoFlussiRendicontazione" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoFlussiRendicontazioneRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoFlussiRendicontazioneRichiesta" />
			<wsdl:output name="nodoChiediElencoFlussiRendicontazioneResponse" message="tns:nodoChiediElencoFlussiRendicontazioneResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoFlussiRendicontazioneRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediElencoFlussiRendicontazioneRisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediFlussoRendicontazione">
			<wsdl:input name="nodoChiediFlussoRendicontazione" message="tns:nodoChiediFlussoRendicontazione" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediFlussoRendicontazioneRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediFlussoRendicontazioneRichiesta" />
			<wsdl:output name="nodoChiediFlussoRendicontazioneResponse" message="tns:nodoChiediFlussoRendicontazioneResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediFlussoRendicontazioneRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediFlussoRendicontazioneRisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRichiestaStorno">
			<wsdl:input name="nodoInviaRichiestaStorno" message="tns:nodoInviaRichiestaStorno" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRichiestaStorno" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRichiestaStorno" />
			<wsdl:output name="nodoInviaRichiestaStornoResponse" message="tns:nodoInviaRichiestaStornoResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRichiestaStornoRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRichiestaStornoRisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRispostaRevoca">
			<wsdl:input name="nodoInviaRispostaRevoca" message="tns:nodoInviaRispostaRevoca" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRispostaRevoca" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRispostaRevoca" />
			<wsdl:output name="nodoInviaRispostaRevocaResponse" message="tns:nodoInviaRispostaRevocaResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRispostaRevocaRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaRispostaRevocaRisposta" />
		</wsdl:operation>
		<wsdl:operation name="nodoChiediSceltaWISP">
			<wsdl:input name="nodoChiediSceltaWISP" message="tns:nodoChiediSceltaWISP" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediSceltaWISPRichiesta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediSceltaWISPRichiesta">
			</wsdl:input>
			<wsdl:output name="nodoChiediSceltaWISPResponse" message="tns:nodoChiediSceltaWISPResponse" wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediSceltaWISPRisposta" wsaw:Action="http://ws.pagamenti.telematici.gov/PPT/nodoChiediSceltaWISPRisposta">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PagamentiTelematiciRPTbinding" type="tns:PagamentiTelematiciRPT">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="nodoChiediStatoRPT">
			<wsdl:documentation>La primitiva restituisce lo stato di una specifica RPT e dei suoi pagamenti, consentendo all’applicazione dell'Ente Creditore di realizzare funzionalità di monitoraggio verso l’utilizzatore finale. Poiché la response contiene le informazioni di redirect allo stesso modo della primitiva nodoInviaRPT, questa primitiva consente di recuperare, se necessario, il caso in cui la response di una precedente nodoInviaRPT sia stata perduta.</wsdl:documentation>			
			<soap:operation soapAction="nodoChiediStatoRPT" style="document" />
			<wsdl:input name="nodoChiediStatoRPT">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediStatoRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="nodoChiediListaPendentiRPT">
			<wsdl:documentation>La primitiva restituisce una lista di attributi delle RPT positivamente inviate al PSP a cui non corrisponde la ricezione di una RT correlata. La lista restituisce l'elenco di tali transazioni al momento della richiesta effettuata da un singolo Ente Creditore. </wsdl:documentation>			
			<soap:operation soapAction="nodoChiediListaPendentiRPT" style="document" />
			<wsdl:input name="nodoChiediListaPendentiRPT">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediListaPendentiRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRPT">
			<soap:operation soapAction="nodoInviaRPT" style="document" />
			<wsdl:input name="nodoInviaRPT">
				<soap:header message="tns:nodoInviaRPT" part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaCarrelloRPT">
			<soap:operation soapAction="nodoInviaCarrelloRPT" style="document" />
			<wsdl:input name="nodoInviaCarrelloRPT">
				<soap:header message="tns:nodoInviaCarrelloRPT" part="header" use="literal">
				</soap:header>
				<soap:body parts="bodyrichiesta" use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaCarrelloRPTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediCopiaRT">
			<soap:operation soapAction="nodoChiediCopiaRT" style="document" />
			<wsdl:input name="nodoChiediCopiaRT">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediCopiaRTResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediInformativaPSP">
			<soap:operation soapAction="nodoChiediInformativaPSP" style="document" />
			<wsdl:input name="nodoChiediInformativaPSP">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediInformativaPSPResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoPAChiediInformativaPA">
			<soap:operation soapAction="nodoPAChiediInformativaPA" style="document" />
			<wsdl:input name="nodoPAChiediInformativaPA">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoPAChiediInformativaPAResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoQuadraturePA">
			<soap:operation soapAction="nodoChiediElencoQuadraturePA" style="document" />
			<wsdl:input name="nodoChiediElencoQuadraturePA">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediElencoQuadraturePAResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediQuadraturaPA">
			<soap:operation soapAction="nodoChiediQuadraturaPA" style="document" />
			<wsdl:input name="nodoChiediQuadraturaPA">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediQuadraturaPAResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediElencoFlussiRendicontazione">
			<soap:operation soapAction="nodoChiediElencoFlussiRendicontazione" style="document" />
			<wsdl:input name="nodoChiediElencoFlussiRendicontazione">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediElencoFlussiRendicontazioneResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediFlussoRendicontazione">
			<soap:operation soapAction="nodoChiediFlussoRendicontazione" style="document" />
			<wsdl:input name="nodoChiediFlussoRendicontazione">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediFlussoRendicontazioneResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRichiestaStorno">
			<soap:operation soapAction="nodoInviaRichiestaStorno" style="document" />
			<wsdl:input name="nodoInviaRichiestaStorno">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaRichiestaStornoResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoInviaRispostaRevoca">
			<soap:operation soapAction="nodoInviaRispostaRevoca" style="document" />
			<wsdl:input name="nodoInviaRispostaRevoca">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoInviaRispostaRevocaResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nodoChiediSceltaWISP">
			<soap:operation soapAction="nodoChiediSceltaWISP" style="document" />
			<wsdl:input name="nodoChiediSceltaWISP">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nodoChiediSceltaWISPResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PagamentiTelematiciRPTservice">
		<wsdl:port name="PagamentiTelematiciRPTPort" binding="tns:PagamentiTelematiciRPTbinding">
			<soap:address location="http://NodoPagamentiSPC.spcoop.gov.it/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
