res/ec/wsdl/NodoPerPaAvvisiDigitali.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Questo WSDL rappresenta l'interfaccia esposta dal p2g per l'invio di un avviso di pagamento. -->
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:pay="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/"
                  xmlns:nodo="http://www.agid.gov.it/schemas/pagoPa/nodo"
                  xmlns:ppt="http:///www.agid.gov.it/schemas/pagoPa/ppthead"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.agid.gov.it/services/pagoPa/nodo"
                  targetNamespace="http://www.agid.gov.it/services/pagoPa/nodo">

    <wsdl:types>
        <xsd:schema version="2.1" targetNamespace="http:///www.agid.gov.it/schemas/pagoPa/ppthead">
            <xsd:import namespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/" schemaLocation="../../common/pagoPa_complexTypes.xsd"/>            
                        

            <xsd:element name="intestazionePPT">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="identificativoIntermediarioPA" type="pay:stText35"/>
                        <xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35"/>
                        <xsd:element name="identificativoDominio" type="pay:stText35"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>

        <xsd:schema version="1.0" targetNamespace="http://www.agid.gov.it/services/pagoPa/nodo">
            <xsd:import namespace="http://www.agid.gov.it/schemas/pagoPa/nodo" schemaLocation="../xsd/NodoPerPaAvvisiDigitali.xsd" />
            
            <xsd:element name="nodoInviaAvvisoDigitale" type="nodo:ctNodoInviaAvvisoDigitale"/>
            <xsd:element name="nodoInviaAvvisoDigitaleRisposta" type="nodo:ctNodoInviaAvvisoDigitaleRisposta"/>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="nodoInviaAvvisoDigitale">
        <wsdl:part name="header" element="ppt:intestazionePPT"/>
        <wsdl:part name="bodyrichiesta" element="tns:nodoInviaAvvisoDigitale"/>
    </wsdl:message>
    <wsdl:message name="nodoInviaAvvisoDigitaleRisposta">
        <wsdl:part name="bodyrisposta" element="tns:nodoInviaAvvisoDigitaleRisposta"/>
    </wsdl:message>

    <wsdl:portType name="NodoInviaAvvisoDigitale">
        <wsdl:operation name="nodoInviaAvvisoDigitale">
            <wsdl:input message="tns:nodoInviaAvvisoDigitale"
                        wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaAvvisoDigitale"/>
            <wsdl:output message="tns:nodoInviaAvvisoDigitaleRisposta"
                         wsam:Action="http://ws.pagamenti.telematici.gov/PPT/nodoInviaAvvisoDigitaleRisposta"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="NodoInviaAvvisoDigitaleBinding" type="tns:NodoInviaAvvisoDigitale">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="nodoInviaAvvisoDigitale">
            <soap:operation soapAction="nodoInviaAvvisoDigitale" />
            <wsdl:input>
                <soap:header message="tns:nodoInviaAvvisoDigitale" part="header" use="literal" />
                <soap:body parts="bodyrichiesta" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NodoInviaAvvisoDigitaleService">
        <wsdl:port name="PPTPort" binding="tns:NodoInviaAvvisoDigitaleBinding">
            <soap:address location="http://PuntoAccessoPA.spcoop.gov.it/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
