res/ec/wsdl/PaPerNodoChiediElencoAvvisiDigitali.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Questo WSDL rappresenta l'interfaccia esposta dal Nodo dei Pagamenti Telematici per avvisi pull . -->
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"				
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:pay="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/"
                  xmlns:adv="http://www.agid.gov.it/schemas/pagoPa/ec"
                  xmlns:tns="http://www.agid.gov.it/services/pagoPa/ec"
                  targetNamespace="http://www.agid.gov.it/services/pagoPa/ec">
				

    <wsdl:types>
	
        <xsd:schema version="2.1" targetNamespace="http://www.agid.gov.it/services/pagoPa/ec">
            <xsd:import namespace="http://www.agid.gov.it/schemas/pagoPa/Pagamenti/" schemaLocation="../../common/pagoPa_complexTypes.xsd"/>            
             
            <xsd:element name="intestazionePPT">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="identificativoIntermediarioPA" type="pay:stText35"/>
                        <xsd:element name="identificativoStazioneIntermediarioPA" type="pay:stText35"/>
                        <xsd:element name="identificativoDominio" type="pay:stText35"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
		
        <xsd:schema version="1.0" targetNamespace="http://www.agid.gov.it/services/pagoPa/ec">
            <xsd:import namespace="http://www.agid.gov.it/schemas/pagoPa/ec" schemaLocation="../xsd/PaPerNodoAvvisiDigitali.xsd" />
            
            <xsd:element name="paaChiediElencoAvvisiDigitali" type="adv:ctPaaChiediElencoAvvisiDigitali" />
            <xsd:element name="paaChiediElencoAvvisiDigitaliRisposta" type="adv:ctPaaChiediElencoAvvisiDigitaliRisposta"/>
            
        </xsd:schema>
	
		
		
    </wsdl:types>

    <wsdl:message name="paaChiediElencoAvvisiDigitali">
	    <wsdl:part name="header" element="tns:intestazionePPT" />
        <wsdl:part name="bodyrichiesta" element="tns:paaChiediElencoAvvisiDigitali"/>
		
    </wsdl:message>
    <wsdl:message name="paaChiediElencoAvvisiDigitaliRisposta">
        <wsdl:part name="bodyrisposta" element="tns:paaChiediElencoAvvisiDigitaliRisposta"/>
    </wsdl:message>

    <wsdl:portType name="ChiediElencoAvvisiDigitali">
        <wsdl:operation name="paaChiediElencoAvvisiDigitali">
            <wsdl:input message="tns:paaChiediElencoAvvisiDigitali"
                        wsam:Action="http://www.agid.gov.it/pagoPa/soap/PPT/paaChiediElencoAvvisiDigitali"/>
            <wsdl:output message="tns:paaChiediElencoAvvisiDigitaliRisposta"
                         wsam:Action="http://www.agid.gov.it/pagoPa/soap/PPT/paaChiediElencoAvvisiDigitaliRisposta"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ChiediElencoAvvisiDigitaliBinding" type="tns:ChiediElencoAvvisiDigitali">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="paaChiediElencoAvvisiDigitali">
            <soap:operation soapAction="paaChiediElencoAvvisiDigitali"/>
            <wsdl:input>
                <soap:body parts="bodyrichiesta"  use="literal"/>
				<soap:header message="tns:paaChiediElencoAvvisiDigitali" part="header" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ChiediElencoAvvisiDigitaliService">
        <wsdl:port name="PPTPort" binding="tns:ChiediElencoAvvisiDigitaliBinding">
            <soap:address location="http://PuntoAccessoPA.spcoop.gov.it/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
